/***************************************
 * Credits Bar
 */

:root {
    --lgs-credits-bar-height: calc(20px);
}

.credits-bar {
    max-height: var(--lgs-credits-bar-height);
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    gap: var(--lgs-gutter-s);
    margin-bottom: var(--lgs-gutter-s);
    pointer-events: auto;
}

.credits-bar > div {
    display: flex;
    align-content: center;
}

.credits-bar > * {
    padding: var(--lgs-gutter-xs);
}

.credits-bar a {
    display: inline-flex
}

.credits-bar .main-logo {
    --padding: 0;
    aspect-ratio: auto;
    padding: var(--lgs-gutter-s);
    border-radius: var(--lgs-border-radius-xs);
}

.credits-bar .main-logo img {
    max-height: calc(0.7 * var(--lgs-credits-bar-height));
}

.credits-bar img {
    box-sizing: border-box;
    height: var(--lgs-credits-bar-height);
}

.credits-bar sl-divider {
    --color: var('red')
}

.provider-credits {
    --lgs-card-on-map-bg-color: rgba(255, 255, 255, 0.8);
    --lgs-card-on-map-border-color: var(--sl-color-neutral-400);
    padding: var(--lgs-gutter-xs);
    display: flex;
    align-items: center;
    line-height: 1;
    color: var(--lgs-card-on-map-border-color) !important;
}

.provider-credits > a, .provider-credits > a:link {
    align-items: center;
    line-height: 1;
    text-decoration: none;
    color: var(--lgs-dark-ui-fg-color);
    height: var(--lgs-credits-bar-height);
}