/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2026-04-27
 * Last modified: 2026-04-27
 *
 *
 * Copyright © 2026 LGS1920
 ******************************************************************************/

/***************************************
 * Credits Bar
 */

:root {
    --lgs-credits-bar-height: calc(0.8 * var(--lgs-line-dimension));
}

.credits-bar {
    font-size: var(--lgs-font-size-s);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: right;
    height: var(--lgs-credits-bar-height);
    padding: var(--lgs-gutter-xs);
    pointer-events: auto;
    color: #ffffff;
    gap: var(--lgs-gutter-xs);
    --padding: var(--lgs-gutter-xs);
}

.credits-bar > div {
    display: flex;
    align-content: center;
    padding: var(--padding);
    border-radius: var(--lgs-border-radius-xs);
    width: auto;
    max-height: var(--lgs-credits-bar-height);
    min-height: var(--lgs-credits-bar-height);
}

.credits-bar a {
    display: inline-flex;
    align-items: center;
}

.credits-bar .main-logo {
    border-radius: var(--lgs-border-radius-xs);
    background: transparent;
    box-shadow: none;
    --padding: 0;
}

.credits-bar .main-logo .credits-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.credits-bar .main-logo .credits-logo svg {
    display: block;
    height: 100%;
    width: auto;
}

.credits-bar .provider-credits img {
    display: block;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    height: calc(100% - var(--padding));
    border-radius: 0 !important;
    object-fit: contain;
}

.credits-bar .cesium-credits img {
    display: block;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    height: calc(100% - 2 * var(--padding));
    border-radius: 0 !important;
    object-fit: contain;
}

.provider-credits .credits {
    display: flex;
    align-items: center;
    height: calc(100% - var(--padding));
}

.lgs-credits {
    line-height: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    backdrop-filter: blur(var(--lgs-blur));
}

.lgs-credits > a, .lgs-credits > a:link {
    font-weight: var(--lgs-font-weight-bold);
    line-height: 1;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    height: var(--lgs-credits-bar-height);
    text-decoration: none;
    color: #ffffff;
}


.lgs-credits {
    overflow: hidden;

    white-space: nowrap; /* prevents text wrapping */
    text-overflow: ellipsis; /* adds "..." if text overflows */

}

.lgs-credits a:first-child:not(:last-child) .credits {
    border-right: 1px solid var(--lgs-card-on-map-border-color);
    padding-inline: var(--lgs-gutter-s)
}

.provider-credits {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
}
