/***************************************
 * Credits Bar
 */

:root {
    --lgs-credits-bar-height: calc(0.8 * var(--lgs-line-dimension));
}

.credits-bar {
    height: var(--lgs-credits-bar-height);
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    gap: var(--lgs-gutter-xs);
    --padding: var(--lgs-gutter-xs);
    pointer-events: auto;
    font-size: var(--lgs-font-size-s);
}

.credits-bar > div {
    display: flex;
    align-content: center;
    padding: var(--padding);
    border-radius: var(--lgs-border-radius-xs);
    width: auto;
    max-height: var(--lgs-credits-bar-height);
    min-height: var(--lgs-credits-bar-height);
}

.credits-bar a {
    display: inline-flex
}

.credits-bar .main-logo {
    --padding: var(--lgs-gutter-s);
}

.credits-bar img {
    box-sizing: border-box;
    height: calc(100% - 2 * var(--padding));
    width: auto;
}

.credits-bar .cesium-credits img {
    height: calc(100% - 2.5 * var(--padding));
}

.credits-bar sl-divider {
    --color: var('red')
}

.lgs-credits {
    display: flex;
    align-items: center;
    line-height: 1;
}

.lgs-credits > a, .lgs-credits > a:link {
    align-items: center;
    line-height: 1;
    text-decoration: none;
    color: var(--lgs-dark-ui-fg-color);
    height: var(--lgs-credits-bar-height);
}

.provider-credits {
    --lgs-card-on-map-bg-color: rgba(255, 255, 255, 0.5);
    --lgs-card-on-map-border-color: hsla(240 4.8% 95.9%/0.25);
    color: var(--lgs-card-on-map-border-color) !important;
}

