
#journeys-editor-container {
    position: absolute;
    z-index: var(--vt3d-ui-layer-zindex);
    top: calc(var(--top) * -1);
    left: 0;
    width: calc(100vw - var(--right));
    height: 100vh;
    pointer-events: none;
}

#journeys-editor-pane {
    position: fixed;
    bottom: var(--vt3d-gutter);
    left: var(--vt3d-gutter);
    top: auto;
    right: auto;
}

#journeys-editor-pane sl-icon {
    margin-right: var(--vt3d-gutter-xs);
}

#journeys-editor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#journeys-editor-footer strong:after {
    content: ' - ';
    font-weight: normal;
}

.menu-panel {
    width: 100%;
}

#editor-journey-settings-panel {
    display: flex;
    gap: var(--vt3d-gutter-s);
}

#journey-text-description {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: var(--vt3d-gutter-xs);
    width: 1.1rem;
}

.editor-vertical-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: var(--vt3d-gutter-xs);
    width: 1.5rem;
}

#editor-journey-settings-panel .editor-vertical-menu {
    justify-content: space-between;
}


#journey-text-description {
    gap: var(--vt3d-gutter-xs);
    width: 100%;
}

#journey-title {
    width: 100%;
}

.settings-panel {
    display: flex;
    width: 100%;
    gap: var(--vt3d-gutter-s);
    justify-content: space-between;
}

#track-text-description {
    display: flex;
    flex-direction: column;
    gap: var(--vt3d-gutter-xs);
    width: 100%;
    margin-bottom: var(--vt3d-gutter-xs);
}

#track-line-settings, #track-line-settings > div {
    display: flex;
    gap: var(--vt3d-gutter-s);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#test-line {
    width: 6rem;
    border-radius: 3px;
    transition: all ease-in-out;
}

sl-tab-panel {
    overflow-y: hidden;
}