
#journeys-editor-container {
    position: absolute;
    z-index: var(--lgs-ui-layer-zindex);
    top: calc(var(--top) * -1);
    left: 0;
    width: calc(100vw - var(--right));
    height: 100vh;
    pointer-events: none;
}

#journeys-editor-pane {
    position: fixed;
    bottom: var(--lgs-gutter);
    left: var(--lgs-gutter);
    top: auto;
    right: auto;
    pointer-events: none;
}

sl-tab sl-icon {
    margin-right: var(--lgs-gutter-xs);
}

#journeys-editor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#journeys-editor-footer strong:after {
    content: ' - ';
    font-weight: normal;
}

.menu-panel {
    width: 100%;
}

#editor-journey-settings-panel {
    display: flex;
    gap: var(--lgs-gutter-s);
}

#journey-text-description {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: var(--lgs-gutter-xs);
    width: 1.1rem;
}

.editor-vertical-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: var(--lgs-gutter-xs);
    width: 1.5rem;
    align-items: center;
    margin-left: auto
}

#editor-journey-settings-panel .editor-vertical-menu {
    justify-content: space-between;
}


#journey-text-description {
    gap: var(--lgs-gutter-xs);
    width: 100%;
}

.journey-title {
    display: inline-flex;
    width: 100%;
    font-weight: 700;
    align-items: center;
    margin-right: var(--lgs-gutter-s);
}

.journey-title-icon {
    width: 1.2rem;
}

.settings-panel {
    display: flex;
    width: 100%;
    gap: var(--lgs-gutter-s);
    justify-content: space-between;
}

#track-text-description {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
    width: 100%;
    margin-bottom: var(--lgs-gutter-xs);
}

#track-line-settings, #track-line-settings > div {
    display: flex;
    gap: var(--lgs-gutter-s);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#test-line {
    width: 6rem;
    border-radius: 3px;
    transition: all ease-in-out;
}

sl-tab::part(base) {
    padding: var(--lgs-gutter-s);
}

sl-tab-panel {
    overflow-y: hidden;
}

sl-tab-panel sl-icon {
    margin-right: var(--lgs-gutter-xs);
    width: 1rem;
}

sl-tab-panel sl-icon::part(svg) {
    width: 1.1rem;
}


.element-data {
    width: 100%;
    --padding: var(--lgs-gutter-s);
}

.element-row {
    width: 100%;
    display: flex;
    align-items: center;
}

.element-item {
    display: flex;
    align-items: center;
    --width: 38%;
    --indent: 24%;
    width: var(--width);
}

.element-item.title {
    width: var(--indent);
    font-weight: 700;
}

.element-item.indented {
    margin-left: var(--indent);
}

.track-points, .journey-POIs {
    margin-top: var(--lgs-gutter-s);
}

.track-date {
    display: flex;
    gap: var(--lgs-gutter);
}