:root {
    --lgs-profile-pane-height: 260px;
    --lgs-profile-chart-height: 200px;
    --lgs-journey-editor-open-offset:0;
    --lgs-profile-pane-width:100%;
}
#profile-container {
    position: relative;
    max-width:var(--lgs-profile-pane-width);
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#profile-pane {
    --header-spacing: 0;
    --footer-spacing: 0;
    --body-spacing: 0;
    --size: var(--lgs-profile-pane-height);
}

#profile-pane::part(panel) {
    border-radius: var(--sl-border-radius-medium)
}

#profile-container .apexcharts-canvas {
    overflow: hidden;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

#profile-pane {
    --body-spacing: var(--lgs-gutter-s);
}

#profile-pane::part(header) {
    padding-top: var(--lgs-gutter-s);
    justify-content: flex-end;
}

#profile-pane .journey-selector {
    position: absolute;
    top: var(--lgs-gutter-xs);
    width: 15rem;
}

#elevation-distance-tooltip {
    font-size: var(--lgs-font-size-s);
    font-family: var(--lgs-font-family);
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--lgs-gutter-xs);
    gap: var(--lgs-gutter-xs);

    min-width: 100px;
}

#elevation-distance-tooltip > span:first-child {
    display: inline-flex;
    text-align: center;
}

#elevation-distance-tooltip > span {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

#elevation-distance-tooltip .point-distance {
    gap: var(--lgs-gutter-s);
}

#elevation-distance-tooltip .point-distance sl-icon {
    width: 15px;
}

