:root {
    --vt3d-profile-pane-width: 100%;
    --vt3d-profile-pane-height: 300px;
}

#profile-container {
    position: relative;
    width: var(--vt3d-profile-pane-width);
    height: 100%;
}

#profile-pane {
    --header-spacing: 0;
    --footer-spacing: 0;
    --body-spacing: 0;
    --size: var(--vt3d-profile-pane-height);
}

#profile-pane::part(panel) {
    border-radius: var(--sl-border-radius-medium)
}