
#vt3d-main-ui {
    display: flex;
    gap: var(--vt3d-gutter-s);
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100vw;
    pointer-events: none;

    z-index: var(--vt3d-ui-layer-zindex);

}

#vt3d-main-ui > div {
    display: flex;
    gap: var(--vt3d-gutter-s);
    pointer-events: auto;
    --top: var(--vt3d-gutter-s);
    --left: var(--vt3d-gutter-s);
    --bottom: var(--vt3d-gutter-s);
    --right: var(--vt3d-gutter-s);
}

#top-left-ui {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--top);
    left: var(--left);
}

#top-right-ui {
    position: absolute;
    top: var(--top);
    right: var(--right);
    height: var(--vt3d-compass-size);
    width: var(--vt3d-compass-size);
}

#bottom-ui {
    display: flex;
    height: 50vh;
    width: 100%;
    flex-direction: row;
    padding: var(--vt3d-gutter-s);
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none !important;
}

#bottom-right-ui {
    height: var(--vt3d-gutter-s);
    width: var(--vt3d-gutter-s);
    align-self: flex-end;
}

#bottom-left-ui {
    display: flex;
    flex-direction: column;
    gap: var(--vt3d-gutter-s);
    align-self: flex-end;
}

.vt3d-ui-toolbar {
    display: flex;
    gap: var(--vt3d-gutter-s);
    justify-items: normal;
    align-items: center;
}

.vt3d-ui-toolbar.vertical {
    flex-direction: column;
    justify-items: center;
    align-items: normal;
}

.vt3d-ui-toolbar sl-divider {
    height: 1rem;
    --spacing: 0
}

.vt3d-ui-toolbar sl-button {
    max-width: max-content;
}

.vt3d-ui-toolbar.embed sl-button {
    --sl-input-border-width: 0;
}

#profile-ui {
    display: flex;
    flex-grow: 1;
    pointer-events: none;
}

/***************************************
 * Wander Controls
 */
.wanderDuration {
    width: 5rem;
}