/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2026-04-23
 * Last modified: 2026-04-23
 *
 *
 * Copyright © 2026 LGS1920
 ******************************************************************************/

:root {
    --lgs-tunnel-thickness: 2px;
    --lgs-tunnel-icon-border-thickness: 2px;
    --lgs-tunnel-color: var(--lgs-light-color);
    --lgs-tunnel-bg-color: var(--lgs-dark-color);

    --lgs-tunnel-bg-blocked-color: var(--wa-color-red-40) !important;
    --lgs-tunnel-blocked-color: var(--wa-color-red-10) !important;

    --lgs-tunnel-bg-active-color: var(--wa-color-brand-70);
    --lgs-tunnel-active-color: var(--wa-color-brand-40);

    --lgs-tunnel-bg-done-color: var(--lgs-dark-color);
    --lgs-tunnel-done-color: var(--lgs-light-color);

    --lgs-tunnel-hover-bg-color: var(--wa-color-brand-70);
    --lgs-tunnel-hover-color: var(--wa-color-brand-20);

    --lgs-tunnel-spacer-width: var(--lgs-gutter);
}

.lgs-tunnel-container {
    position: relative;
}


.lgs-tunnel-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.lgs-tunnel-bar-item {
    display: flex;
    gap: 0
}
.lgs-tunnel-element {
    position: relative;
    z-index: 2;
    border: var(--lgs-tunnel-icon-border-thickness) solid var(--lgs-tunnel-color);
    border-radius: 50%;
    background-color: var(--lgs-tunnel-bg-color);

    & wa-icon {
        pointer-events: none;
        color: var(--lgs-tunnel-color);
    }

    &:hover {
        border-color: var(--lgs-tunnel-hover-color) !important;
    }


    &:hover wa-icon {
        color: var(--lgs-tunnel-hover-color) !important;
    }

    &::part(base):hover {
        background-color: var(--lgs-tunnel-hover-bg-color) !important;
    }
}


.lgs-tunnel-element-blocked {
    color: var(--lgs-tunnel-blocked-color);
    background-color: var(--lgs-tunnel-bg-blocked-color);
}

.lgs-tunnel-element-active {
    color: var(--lgs-tunnel-active-color) !important;
    border-color: var(--lgs-tunnel-active-color) !important;
    background-color: var(--lgs-tunnel-bg-active-color) !important;

    & wa-icon {color: var(--lgs-tunnel-active-color) !important}
}


.lgs-tunnel-element-done {
    color: var(--lgs-tunnel-done-color);
    border-color: var(--lgs-tunnel-done-color);
    background-color: var(--lgs-tunnel-bg-done-color);
}

.lgs-tunnel-bar-spacer {
    width: var(--lgs-tunnel-spacer-width);
}

.lgs-tunnel-bar-spacer::before {
    position: absolute;
    z-index: 1;
    top: calc(50% - var(--lgs-tunnel-thickness) / 2);
    width: var(--lgs-tunnel-spacer-width);
    height: var(--lgs-tunnel-thickness);
    content: "";
    background-color: var(--lgs-tunnel-color);
}

.lgs-tunnel-cancel {
    font-size: var(--lgs-font-size-s);
    background-color: var(--lgs-dark-color-90);
}