/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2025-09-26
 * Last modified: 2025-09-26
 *
 *
 * Copyright © 2025 LGS1920
 ******************************************************************************/

:root {
    --crop-border-color: var(--lgs-light-color);
    --crop-handle-color: var(--lgs-light-color);
    --crop-centered-color: var(--lgs-light-color);
    --crop-centered-opacity: 0.5;
    --crop-centered-line-width: 1px;
    --crop-handle-size: 12px;
    --crop-zindex: calc(var(--lgs-tools-ui-zindex) - 2);
}

.mobile {
    --crop-handle-size: 16px;
}

.crop-container {
    position: absolute;
    z-index: var(--crop-zindex);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***************************************
 *   Crop Box Container
 **************************************/
.crop-zone {
    position: absolute;
    z-index: calc(var(--crop-zindex) + 1);
    box-sizing: border-box;
    user-select: none;
    border: 2px dashed var(--crop-border-color);
    background: transparent;
    touch-action: none;
}

.defined-crop-zone {
    cursor: default;
    pointer-events: none;
}

/***************************************
 *  Crop Handle Base
 **************************************/
.crop-handle {
    position: absolute;
    z-index: calc(var(--crop-zindex) + 2);
    width: var(--crop-handle-size);
    height: var(--crop-handle-size);
    border-radius: var(--lgs-border-radius-xs);
    background: var(--crop-handle-color);
    touch-action: none;
}

/***************************************
 *  Crop Handle Positions
 **************************************/
.handle-nw {
    top: calc(-1 * var(--crop-handle-size) / 2);
    left: calc(-1 * var(--crop-handle-size) / 2);
    cursor: nwse-resize;
}

.handle-ne {
    top: calc(-1 * var(--crop-handle-size) / 2);
    right: calc(-1 * var(--crop-handle-size) / 2);
    cursor: nesw-resize;
}

.handle-se {
    right: calc(-1 * var(--crop-handle-size) / 2);
    bottom: calc(-1 * var(--crop-handle-size) / 2);
    cursor: nwse-resize;
}

.handle-sw {
    bottom: calc(-1 * var(--crop-handle-size) / 2);
    left: calc(-1 * var(--crop-handle-size) / 2);
    cursor: nesw-resize;
}

.handle-n {
    top: calc(-1 * var(--crop-handle-size) / 2);
    left: 50%;
    cursor: ns-resize;
    transform: translateX(-50%);
}

.handle-e {
    top: 50%;
    right: calc(-1 * var(--crop-handle-size) / 2);
    cursor: ew-resize;
    transform: translateY(-50%);
}

.handle-s {
    bottom: calc(-1 * var(--crop-handle-size) / 2);
    left: 50%;
    cursor: ns-resize;
    transform: translateX(-50%);
}

.handle-w {
    top: 50%;
    left: calc(-1 * var(--crop-handle-size) / 2);
    cursor: ew-resize;
    transform: translateY(-50%);
}

/***************************************
 *  On map crop info
 **************************************/
.crop-info, .crop-info-custom {
    font-size: var(--lgs-font-size-s);
    position: absolute;
    z-index: calc(var(--crop-zindex) + 1);
    top: var(--lgs-gutter-xs);
    display: flex;
    align-items: center;
    width: max-content;
    pointer-events: none;
    gap: var(--lgs-gutter-xs);
}

.crop-info {
    left: var(--lgs-gutter-xs);
}

.crop-info-custom {
    right: var(--lgs-gutter-xs);
}

[class^="crop-info"] :not(span:last-child) {
    border-right: 1px solid var(--lgs-card-on-map-border-color);
    padding-inline-end: var(--lgs-gutter-s);
}

/***************************************
 *  Overlay
 **************************************/
.crop-overlay {
    position: absolute;
    z-index: calc(var(--crop-zindex) + 1);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    pointer-events: none;
    pointer-events: none;
    background-color: var(--lgs-dark-color-90);
    background-image: repeating-linear-gradient(
            135deg,
            var(--lgs-light-color-25) 0px,
            var(--lgs-light-color-25) 2px,
            transparent 2px,
            transparent 20px
    );

    clip-path: inset(0 0 0 0);
    backdrop-filter: blur(var(--lgs-blur));
}

/***************************************
 *  Center Lines Container
 **************************************/
.center-lines-container {
    position: absolute;
    z-index: calc(var(--lgs-ui-layer-zindex) + 2);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

/***************************************
 *  Center Lines (External)
 **************************************/
[class^="center-line-horizontal-"] {
    width: var(--crop-centered-line-width);
    background: var(--crop-centered-color);
}

.center-line-horizontal-left {
    position: absolute;
    height: var(--crop-centered-line-width);
    background-color: var(--crop-centered-color);
}

.center-line-horizontal-right {
    position: absolute;
    height: var(--crop-centered-line-width);
    background-color: var(--crop-centered-color);
}

.center-line-vertical-top {
    position: absolute;
    width: var(--crop-centered-line-width);
    background-color: var(--crop-centered-color);
}

.center-line-vertical-bottom {
    position: absolute;
    width: var(--crop-centered-line-width);
    background-color: var(--crop-centered-color);
}

/***************************************
 *  Center Lines (Internal)
 **************************************/
[class^="center-line-inner-"] {
    position: absolute;
    z-index: calc(var(--lgs-ui-layer-zindex) + 2);
    opacity: var(--crop-centered-opacity);
    background: var(--crop-centered-color);
}

.center-line-inner-horizontal {
    top: 50%;
    left: 0;
    width: 100%;
    height: var(--crop-centered-line-width);
    transform: translateY(-50%);
}

.center-line-inner-vertical {
    top: 0;
    left: 50%;
    width: var(--crop-centered-line-width);
    height: 100%;
    transform: translateX(-50%);
}

/*******************************************************************************
 * Cropper Editor
 ******************************************************************************/

:root {
    --buttons-bar-on-map-direction: column;
}

.crop-ratio-widget-container {
    position: absolute;
    z-index: calc(var(--crop-zindex) + 2);
}


.crop-ratio-widget {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: var(--buttons-bar-on-map-direction);
    width: auto;
    padding: var(--lgs-gutter-xs);
    gap: var(--lgs-gutter-xs);
}

.crop-ratio-widget.lgs-toolbar {
    opacity: 1;
}

.buttons-bar-on-map {
    display: flex;
    align-items: center;
    flex-direction: var(--buttons-bar-on-map-direction);
    justify-content: space-between;
    gap: var(--lgs-gutter-xs);
}

.buttons-bar-on-map sl-icon, .buttons-bar-on-map div {
    font-size: var(--lgs-font-size);
    line-height: 1;
    width: calc(var(--lgs-font-size) + 4px);
    height: calc(var(--lgs-font-size) + 2px);
    padding: var(--lgs-gutter-s);
    cursor: pointer;
    text-align: center;
}

.buttons-bar-on-map div {
    justify-content: center;
    width: 100%;
    height: auto;
}

.buttons-bar-on-map .selected {
    border-color: var(--lgs-card-on-map-selected-border-color);
    background: var(--lgs-card-on-map-selected-bg-color);
}

.buttons-bar-on-map sl-icon:hover, .buttons-bar-on-map div:hover {
    border-color: var(--lgs-card-on-map-hover-border-color);
    background: var(--lgs-card-on-map-hover-bg-color);
}

.buttons-bar-on-map sl-icon svg {
    width: unset;
    height: var(--lgs-font-size);
}

