<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
</head>
<body>
<h1>Credits</h1>

<h2>3D Visualisation</h2>

<a href="https://cesium.com/" target="_blank"><img height="32px"
                                                   src="http://localhost:5173/cesium/Assets/Images/ion-credit.png"
                                                   title="Cesium ion"></a><br>
CesiumJS is the best-in-class for accurate 3D visualization on the web.


<h2>Data provided by:</h2>
<ul>
    <li>© 2024 Microsoft Corporation</li>
    <li>© 2023 Maxar</li>
    <li>©CNES (2023) Distribution Airbus DS</li>
    <li>Data available from the U.S. Geological Survey, © CGIAR-CSI, Produced using Copernicus data and information
        funded by
        the European Union - EU-DEM layers, Data available from Land Information New Zealand, Data available from
        data.gov.uk,
        Data courtesy Geoscience Australia
    </li>
    <li>Bing Imagery</li>
</ul>
</body>
</html>