
#journeys-editor-container {
    position: absolute;
    z-index: var(--vt3d-ui-layer-zindex);
    top: calc(var(--top) * -1);
    left: 0;
    width: calc(100vw - var(--right));
    height: 100vh;
    pointer-events: none;
}

#journeys-editor-pane {
    position: fixed;
    bottom: var(--vt3d-gutter);
    left: var(--vt3d-gutter);
    top: auto;
    right: auto;
}

#journeys-editor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#journeys-editor-footer strong:after {
    content: ' - ';
    font-weight: normal;
}

#journey-visibility-global {
    display: flex;
    gap: var(--vt3d-gutter-s);
}

#journey-visibility {
    display: flex;
    gap: var(--vt3d-gutter-s);
    align-self: flex-end;
    margin-bottom: var(--vt3d-gutter-xs);
}

#journey-title {
    width: 100%;
}

#track-settings, #track-settings-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--vt3d-gutter-s);
    width: 100%;
}

#track-line-settings-global {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--vt3d-gutter-s);
    align-items: center;
    justify-content: space-between;
}

#track-line-settings-global > div {
    width: 100%;
}

#track-line-settings, #track-line-settings > div {
    display: flex;
    gap: var(--vt3d-gutter-s);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#track-line-settings {
    flex-direction: column;
}

#track-line-settings sl-switch::part(base),
#track-line-settings sl-range::part(base) {
    display: flex
}

#test-line {
    width: 4rem;
    border-radius: 3px;
}

[id^="visibility-marker-"] {
    display: flex;
    gap: var(--vt3d-gutter-xs);
}