
#tracks-editor-container {
    position: absolute;
    z-index: var(--vt3d-ui-layer-zindex);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#tracks-editor-pane {
    position: fixed;
    bottom: var(--vt3d-gutter);
    left: var(--vt3d-gutter);
    top: auto;
    right: auto;
}

#tracks-editor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tracks-editor-footer strong:after {
    content: ' - ';
    font-weight: normal;
}

#track-line-settings {
    display: flex;
    gap: var(--vt3d-gutter);
    align-items: center;
}