#floating-menu-container {
    position: absolute;
    top: 0;
    left: -9999px;
}

#floating-menu-container sl-card {
    padding: var(--vt3d-gutter-xs);

}

#floating-menu {
    display: flex;
    gap: var(--vt3d-gutter-s);
    line-height: 1.2;
    align-items: center;
}