
:root {
    --menu-offset: 5 /* px */
}


#floating-menu-container {
    position: absolute;
}

#floating-menu-container sl-card {
    padding: var(--vt3d-gutter-xs);

}

#floating-menu {
    display: flex;
    gap: var(--vt3d-gutter-s);
    line-height: 1.2;
    align-items: center;
}
