/*******************************************************************************
 * Animation
 */

/** Slide In From Left **/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-from-left {
    animation: slideInFromLeft var(--lgs-animation-duration) ease-out var(--lgs-animation-delay);
}

/** Slide In From  Right **/

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-from-right {
    animation: slideInFromRight var(--lgs-animation-duration) ease-out var(--lgs-animation-delay);
}

/** Slide In From Top **/

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-from-top {
    animation: slideInFromTop var(--lgs-animation-duration) ease-out var(--lgs-animation-delay);
}

/** Slide In From Top Bounced **/

@keyframes slideInFromTopBounced {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    80% {
        transform: translateY(0);
        opacity: 1;
    }
    90% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

.slide-in-from-top-bounced {
    animation: slideInFromTopBounced var(--lgs-animation-duration) ease-out var(--lgs-animation-delay);
}

/** Slide In From Bottom **/

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-from-bottom {
    animation: slideInFromBottom 1s ease-out;
}

/** Flash Background **/

@keyframes flashBackground {
    0% {
        background-color: white;
    }
    50% {
        background-color: var(--lgs-direction-panel-bg-color);
    }
    100% {
        background-color: white;
    }
}

.snapshot-in-progress {
    animation: flashBackground 1s infinite;
}

@keyframes slideDown {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

.slide-down {
    animation: slideDown var(--lgs-animation-duration) ease-out forwards;
    overflow: hidden;
}
