/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: app.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2025-07-04
 * Last modified: 2025-07-04
 *
 *
 * Copyright © 2025 LGS1920
 ******************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import-normalize; /* bring in normalize.css styles */

html {
    height: 100%;
}

body {
    font-size: var(--lgs-font-size);
    font-family: var(--lgs-font-family);
    color: var(--lgs-dark-ui-fg-color);
    overflow: hidden;
}

.no-select {
    user-select: none;
}

* {
    box-sizing: border-box;
}

#lgs1920-container {
    /*position: absolute;*/
    width: 100vw;
    height: 100dvh;
}

#cesium-viewer {
    width: 100vw;
    min-height: 100dvh;
    max-height: 100dvh;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
}

/** Hide the main toolbar */
.cesium-viewer-toolbar {
    display: none;
}

/**
 * Cesium Crédits
 */

.cesium-widget-credits {
    display: none !important;
}


.main-logo {
    position: relative;
    --padding: calc(6 * var(--lgs-gutter));
    padding: var(--padding);
    background: var(--lgs-direction-panel-bg-color);
    border-color: var(--lgs-direction-panel-border-color);
    border-radius: var(--lgs-border-radius-s);
    box-shadow: var(--sl-shadow-medium);
    aspect-ratio: 2.813;
    display: flex;
    justify-content: center;
    align-items: center;
}

main-logo.xlarge {
    --padding: calc(6 * var(--lgs-gutter));
}

.main-logo.large {
    --padding: calc(4 * var(--lgs-gutter-s));
}

.main-logo.small {
    --padding: calc(2 * var(--lgs-gutter-xs));
    border-radius: var(--lgs-border-radius-xs);
}

.main-logo.xsmall {
    --padding: calc(var(--lgs-gutter-xs));
    border-radius: var(--lgs-border-radius-xs);
}

.main-logo img {
    width: 75%;
    height: auto;
}

.main-logo .the-slogan {
    color: var(--lgs-slogan-color);
    font-family: var(--lgs-slogan-font-family);
    font-size: var(--lgs-slogan-font-size);
    transform: rotate(-10deg) skew(-18deg);
    margin-top: calc(2 * var(--lgs-gutter));
    width: 100%;
    text-align: center;
}

.main-logo .version-info, .main-logo .welcome-modal-timer {
    display: flex;
    gap: var(--lgs-gutter-xs);
    align-items: center;
    font-size: var(--lgs-font-size-s);
    line-height: 1;
}

.main-logo .welcome-modal-timer {
    position: absolute;
    align-items: self-end;
    left: unset;
    top: var(--lgs-gutter-s);
    right: var(--lgs-gutter-s);
    font-size: var(--lgs-font-size-s);
}

#camera-target {
    position: absolute;
    display: none !important;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    font-size: 1.2rem;
    line-height: 1;
    filter: drop-shadow(0 0 5px black);
}

#camera-target[show="true"] {
    display: flex !important;
}

/** Drawers **/

.drawer-wrapper {
    position: fixed;
    right: var(--right);
    top: var(--top);
    width: calc(100vw - var(--right) - var(--left));
    height: calc(100dvh - var(--top) - var(--bottom));
    pointer-events: none;;
    z-index: var(--sl-z-index-drawer);
}

.drawer-wrapper.horizontal {
    left: var(--left);
    max-width: var(--lgs-horizontal-panel-width);
}


/*******************************************************************************
 * VideoLayer component
 ******************************************************************************/
.video-layer {
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}

.video-layer video {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    object-fit: cover;
}