@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@import-normalize; /* bring in normalize.css styles */

html {
    height: 100vh;
}

body {
    font-size: var(--lgs-font-size);
    font-family: var(--lgs-font-family);
    color: var(--lgs-dark-ui-fg-color);
}

* {
    box-sizing: border-box;
}

#cesium-viewer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

/** Hide the main toolbar */
.cesium-viewer-toolbar {
    display: none;
}

/** POI on MAP **/
.poi-on-map {
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: var(--lgs-font-size);
    font-weight: normal;
    border-left: 1px solid white;
    padding-left: var(--lgs-gutter);
    padding-bottom: calc(5 * var(--lgs-gutter));
    margin-bottom: var(--lgs-gutter-xs);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.50);
    opacity: 1;
    --lgs-animation-duration: 2s;
}

.poi-on-map h3 {
    font-weight: bold;
    font-size: calc(1.5 * var(--lgs-font-size));
}

.poi-on-map .poi-full-coordinates {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
}


/**
 * Toast
 */

/* Toast stack on bottomleft */
.sl-toast-stack {
    left: 0;
    right: auto;
    bottom: 0;
    top: auto;
    overflow: hidden;
}

.toast-caption {
    font-weight: 800;
}

.toast-text {

}

.toast-error {
    font-size: var(--lgs-font-size-small);
    background-color: var(--lgs-error-bg-color);
    color: var(--lgs-error-color);
    border: 1px solid var(--lgs-error-color);
    padding: var(--lgs-gutter-s);
    border-radius: var(--lgs-border-radius-s);
}

/***************************************
 * Icons and buttons
 */
sl-button:not(.square-icon) sl-icon:first-child {
    margin-right: var(--lgs-gutter-s);
}

/**
 * Progress Bars
 */
sl-progress-bar {
    --height: var(--lgs-gutter-xs)
}

/**
 * Cesium Crédits
 */

.cesium-widget-credits {
    display: none !important;
}


.main-logo {
    position: relative;
    --padding: calc(6 * var(--lgs-gutter));
    padding: var(--padding);
    background: var(--lgs-direction-panel-bg-color);
    border-color: var(--lgs-direction-panel-border-color);
    border-radius: var(--lgs-border-radius-s);
    box-shadow: var(--sl-shadow-medium);
    aspect-ratio: 2.813;
    display: flex;
    justify-content: center;
    align-items: center;
}

main-logo.xlarge {
    --padding: calc(6 * var(--lgs-gutter));
}

.main-logo.large {
    --padding: calc(4 * var(--lgs-gutter-s));
}

.main-logo.small {
    --padding: calc(2 * var(--lgs-gutter-xs));
    border-radius: var(--lgs-border-radius-xs);
}

.main-logo.xsmall {
    --padding: calc(var(--lgs-gutter-xs));
    border-radius: var(--lgs-border-radius-xs);
}

.main-logo img {
    width: 100%;
    height: auto;
}

.main-logo .the-slogan {
    color: var(--lgs-slogan-color);
    font-family: var(--lgs-slogan-font-family);
    font-size: var(--lgs-slogan-font-size);
    transform: rotate(-10deg) skew(-18deg);
    margin-top: calc(2 * var(--lgs-gutter));
}

.main-logo .version-info, .main-logo .welcome-modal-timer {
    display: flex;
    gap: var(--lgs-gutter-xs);
    align-items: center;
    font-size: var(--lgs-font-size-s);
    line-height: 1;
}

.main-logo .welcome-modal-timer {
    position: absolute;
    align-items: self-end;
    left: unset;
    top: var(--lgs-gutter-s);
    right: var(--lgs-gutter-s);
    font-size: var(--lgs-font-size-s);
}

#camera-target {
    position: absolute;
    display: none !important;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    font-size: 1.2rem;
    line-height: 1;
    filter: drop-shadow(0 0 5px black);
}

#camera-target[show="true"] {
    display: flex !important;
}

/** Drawers **/

.drawer-wrapper {
    position: fixed;
    right: var(--right);
    top: var(--top);
    width: calc(100vw - var(--right) - var(--left));
    height: calc(100vh - var(--top) - var(--bottom));
    pointer-events: none;;
    z-index: var(--sl-z-index-drawer);
}

.drawer-wrapper.horizontal {
    left: var(--left);

    max-width: var(--lgs-horizontal-panel-width);
}
