:root {
    --lgs-gutter: 0.8rem;
    --lgs-gutter-s: 0.5rem;
    --lgs-gutter-xs: 0.3rem;

    --lgs-border-radius: 0.5rem;
    --lgs-border-radius-s: 0.25rem;
    --lgs-border-radius-xs: 0.15rem;

    --lgs-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --lgs-font-line-height: 1.2;
    --lgs-font-weight: 400;

    --lgs-dimension: calc(2 * var(--lgs-gutter));
    --lgs-dimension-s: calc(var(--lgs-dimension) * 0.625);

    color-scheme: light dark;
    --lgs-dark-ui-primary-color: var(--sl-color-sky-800);
    --lgs-dark-ui-secondary-color: var(--sl-color-sky-600);
    --lgs-dark-ui-3rd-color: var(--sl-color-sky-400);
    --lgs-dark-ui-4th-color: var(--sl-color-sky-300);
    --lgs-dark-ui-5th-color: var(--sl-color-sky-200);

    --lgs-dark-ui-bg-color: var(--lgs-dark-ui-5th-color);
    --lgs-dark-ui-fg-color: var(--lgs-dark-ui-primary-color);

    --lgs-font-size: 0.9rem;
    --lgs-font-size-s: 0.75rem;

    --lgs-ui-layer-zindex: 200;
    --lgs-drop-zone-zindex: 10;

    --lgs-button-border-color: var(--lgs-dark-ui-secondary-color);
    --lgs-button-color: var(--lgs-dark-ui-primary-color);
    --lgs-button-bg-color: var(--lgs-dark-ui-secondary-color);

    --lgs-button-border-hover-color: var(--lgs-dark-ui-primary-color);
    --lgs-button-hover-color: var(--lgs-dark-ui-secondary-color);
    --lgs-button-bg-hover-color: var(--lgs-dark-ui-primary-color);

    --lgs-button-height: 2.5rem;

    --lgs-input-height-s: 1.5rem;
    --lgs-border-width-s: 1px;

    --lgs-compass-stroke-color: var(--lgs-dark-ui-secondary-color);
    --lgs-compass-fill-color: var(--lgs-dark-ui-secondary-color);

    --lgs-card-ui-bg-color: var(--lgs-dark-ui-secondary-color);
    --lgs-card-ui-color: var(--lgs-dark-ui-5th-color);
    --lgs-card-ui-opacity: 0.8;
    --lgs-card-ui-border-color: var(--lgs-dark-ui-primary-color);


}

.sl-theme-light {
    --sl-input-border-width-small: 4px;
    --test: var(--lgs-border-radius-s);
    font-size: var(--lgs-font-size);
    --sl-input-border-width: var(--lgs-border-width-s);
    --sl-input-height-small: var(--lgs-input-height-s);
    line-height: calc(var(--sl-input-height-small) - var(--sl-input-border-width) * 2);
    border-radius: var(--sl-input-border-radius-small);
}


/*******************************************************************************
 * Buttons
 */

.sl-button::part(base) {
    background-color: var(--lgs-button-bg-color) !important;
    border-color: var(--lgs-button-border-color);
    color: var(--lgs-button-color);
}

.sl-button::part(base):hover:not(.button--disabled) {
    background-color: var(--lgs-button-bg-hover-color);
    border-color: var(--lgs-button-border-hover-color);
    color: var(--lgs-button-hover-color);
}

.buttons-bar {
    display: flex;
    justify-content: flex-end;
    gap: var(--lgs-gutter-s);
}

sl-button.square-icon::part(base) {
    height: var(--lgs-dimension);
    width: var(--lgs-dimension);
}

sl-button.square-icon::part(label) {
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: var(--lgs-dimension-s);
}

/*******************************************************************************
 * Drawers
 */
:root {
    --lgs-drawer-size: 28rem
}

sl-drawer {
    --size: var(--lgs-drawer-size);
    --header-spacing: var(--lgs-gutter-s) var(--lgs-gutter);
    --body-spacing: var(--lgs-gutter);
    --footer-spacing: var(--lgs-gutter-s) var(--lgs-gutter);
}

.drawer-pane-footer {
    font-size: var(--sl-font-size-small);
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter);
    width: 100%;
}

.drawer-pane-footer strong {
    font-weight: 600;
}

.drawer-pane-footer strong:after {
    content: ': ';
    font-weight: normal;
}

.drawer-pane-footer .drawer-footer-url {
    margin-left: auto;
    display: flex;
    gap: var(--lgs-gutter-s);
}

/*******************************************************************************
 * Cards
 */


sl-card[variant="primary"]::part(base) {
    /*--size: TODO define a default size if needed */
    --padding: var(--lgs-gutter-s);
    margin: 0;
    background-color: var(--lgs-card-ui-bg-color);
    color: var(--lgs-card-ui-color);
    opacity: var(--lgs-card-ui-opacity);
    --border-color: var(--lgs-card-ui-border-color);
}

.lgs-card {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid transparent;
    padding: var(--lgs-gutter-s);
    border-radius: var(--lgs-border-radius-s);
}

.lgs-card:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.lgs-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
}

/*******************************************************************************
 * Compass
 */
:root {
    --lgs-compass-size: 95px;
}

cesium-compass {
    --cesium-compass-fill-color: var(--lgs-dark-ui-bg-color);
    --cesium-compass-stroke-color: var(--lgs-dark-ui-fg-color);
}