/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2026-01-30
 * Last modified: 2026-01-30
 *
 *
 * Copyright © 2026 LGS1920
 ******************************************************************************/

.drawer-wrapper {
    height: 100%;
}

#widgets-editor-drawer {

}

#widgets-editor-drawer [slot="label"] {
    display: inline-flex;
    align-items: center;
    gap: var(--lgs-gutter-xs);
}

#widgets-editor-drawer::part(body) {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

#widgets-editor-drawer .drawer-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
}
