/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2025-12-20
 * Last modified: 2025-12-20
 *
 *
 * Copyright © 2025 LGS1920
 ******************************************************************************/

.drawer-wrapper {
    height: 100%;
}

#widgets-editor-drawer {

}

#widgets-editor-drawer [slot="label"] {
    display: inline-flex;
    align-items: center;
    gap: var(--lgs-gutter-xs);
}