
:root {
    --menu-offset: 5 /* px */
}

#floating-menu-container {
    position: absolute;
    max-width: 15rem;
}

#floating-menu-container sl-card::part(base) {
    box-shadow: var(--sl-shadow-large);
}

#floating-menu-container sl-icon {
    padding: var(--vt3d-gutter-xs);
    padding-left: 0;
}

.add-top-space {
    margin-top: var(--vt3d-font-size-s);
}

.floating-menu-data {
    display: flex;
    flex-direction: column;
    row-gap: var(--vt3d-gutter-xs);
    line-height: 1.4;
}

.floating-menu-data .vt3d-tv-text {
    width: 2rem;
    display: inline-block;
}

.floating-menu-data .vt3d-text-value {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.floating-menu-title {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid;
    width: 100%;
}

.floating-menu-data.one-line {
    display: flex;
    flex-direction: row;
    gap: var(--vt3d-gutter-s)
}


#floating-menu-marker-header {
    align-items: self-start;
    flex-direction: column;
}

.entity-description {
    font-size: var(--vt3d-font-size-s);
}