html {
    --sl-scroll-lock-gutter: unset !important;
}

#lgs-main-ui, #poi-list {
    position: fixed;
    z-index: var(--lgs-ui-layer-zindex);
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100dvh;
    pointer-events: none;
    gap: var(--lgs-gutter-s);
}

#poi-list {
    z-index: 1;
}

#lgs-main-ui > div, #poi-list > div {
    display: flex;
    gap: var(--lgs-gutter-s);
}

:root {
    --secondary-buttons-bar-right: 0;
    --secondary-buttons-bar-left: 0;
    --secondary-buttons-bar-margin-left: 0;

    --primary-buttons-bar-right: 0;
    --primary-buttons-bar-left: 0;
}

#primary-buttons-bar {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--top);
    margin: 0 var(--right) 0 var(--left);
    max-width: calc(100% - var(--left) - var(--right));
    left: var(--primary-buttons-bar-left);
    right: var(--primary-buttons-bar-right);
    --lgs-animation-duration: 1s;
}

#secondary-buttons-bar {
    position: relative;
    right: var(--secondary-buttons-bar-right);
    left: var(--secondary-buttons-bar-left);
    align-items: center;
    flex-direction: column;
    margin-left: var(--secondary-buttons-bar-margin-left);
    pointer-events: none;
    gap: 0 !important;
}


#secondary-buttons-bar-content {
    display: flex;
    flex-direction: column;
    margin: var(--lgs-gutter-s) var(--lgs-gutter-s) 0 var(--lgs-gutter-s);
    pointer-events: auto;
    gap: var(--lgs-gutter-xs);

}

#bottom-ui {
    display: flex;
    height: 50dvh;
    width: 100vw;
    flex-direction: row;
    padding: var(--lgs-gutter-s);
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottom-right-ui {
    position: absolute;
    bottom: var(--bottom);
    right: var(--right);
}

#bottom-left-ui {
    position: absolute;
    bottom: var(--bottom);
    left: var(--right);
    flex-direction: row;
}

#used-platform {
    line-height: 1;
    color: white;
}


/***************************************
 * Toolbar
 */
.lgs-ui-toolbar {
    display: flex;
    gap: var(--lgs-gutter-s);
    justify-items: normal;
    align-items: center;
}

.lgs-ui-toolbar.vertical {
    flex-direction: column;
    justify-items: center;
    align-items: normal;
}

.lgs-ui-toolbar sl-divider {
    height: 1rem;
    --spacing: 0
}

.lgs-ui-toolbar sl-button {
    max-width: max-content;
}

.lgs-ui-toolbar.embed sl-button {
    --sl-input-border-width: 0;
}

.journey-toolbar {
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    padding: 0;
    opacity: 0;
    gap: 0 !important;
}

.journey-toolbar.dragging {
    background-color: var(--lgs-dark-color-15);
}

.journey-toolbar .grabber {
    font-size: var(--lgs-font-size-l);
    flex-shrink: 0;
    cursor: grab;
}

.journey-toolbar .grabber::part(base) {
    font-size: var(--lgs-font-size);
    padding-right: 0;
    padding-left: 0;
}

.journey-toolbar.dragging .grabber {
    cursor: grabbing;
}

.journey-toolbar .journey-selector {
    flex-shrink: 0;
}

#close-journey-toolbar {
    font-size: var(--lgs-font-size);
    height: 1.2rem;
    border-left: 1px solid var(--lgs-card-on-map-border-color);
    border-radius: 0;
}

.journey-toolbar .journey-title {
    max-height: calc(var(--lgs-line-dimension) - 2 * var(--lgs-gutter-xs));
    color: var(--lgs-dark-ui-fg-color);
}

.journey-toolbar .journey-title, .journey-toolbar .journey-selector {
    color: var(--lgs-dark-ui-fg-color);
}

/***************************************
 * Dropdown Toolbar
 */
.lgs-ui-dropdown-toolbar.just-icons sl-menu {
    align-items: center;
    padding: 0;
    overflow-x: hidden;
}
.lgs-ui-dropdown-toolbar.just-icons ::part(submenu-icon),
.lgs-ui-dropdown-toolbar.just-icons ::part(checked-icon) {
    display: none;
}
.lgs-ui-dropdown-toolbar.just-icons sl-menu-item::part(base) {
    padding: 0 var(--sl-spacing-2x-small);
}

/***************************************
 * Toolbar buttons
 */

#open-info-panel {
    margin-top: var(--lgs-gutter);
}
/***************************************
 * Profile
 */
#profile-ui {
    display: flex;
    flex-grow: 1;
    pointer-events: none;
}

/***************************************
 * Wander Controls
 */
.wanderDuration {
    width: 7rem;
}

/***************************************
 * Welcome modal
 *
 * https://hype4.academy/tools/glassmorphism-generator
 */
#welcome-modal::part(panel) {
    --body-spacing: 0;
    /*background: rgba( 255, 255, 255, 0.15 );*/
    /*background-image: linear-gradient(to right, rgba(255,188,0,0.30), rgba(255,114,15,0.30));*/
    box-shadow: var(--sl-shadow-x-large);
    /*backdrop-filter: blur( var(--lgs-blur) );*/
    /*border-radius: 10px;*/
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    color: black;
    cursor: pointer
}

#welcome-modal #footer{
    display: flex !important;
    flex-direction: column;
    gap: var(--lgs-gutter);
    justify-content: flex-start;
    text-align: start;
    width: 100%;
}

#welcome-modal .welcome-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--lgs-gutter);
    box-shadow: var(--sl-shadow-medium);
}

#welcome-links {
    position: absolute;
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter);
    bottom: 0;
    left: var(--lgs-gutter-s);
    width: calc(100% - 2 * var(--lgs-gutter-s));
}

#welcome-links sl-button {
    margin-left: auto;
}

#welcome-links sl-button::part(base) {
    color: black;
    font-weight: normal;
}

#welcome-links-do-not-show {
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter-s);
}

#welcome-links-do-not-show sl-checkbox::part(base) {
    color: black
}

#welcome-links-do-not-show sl-checkbox::part(control) {
    color: black;
    background: transparent;
    border: 1px solid black;
}
#waiting-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--lgs-gutter-s);
}

/*******************************************************************************
 * Main CFA
 */

.main-actions.call-for-actions {
    position: absolute;
    top: 75dvh;
}
/*******************************************************************************
 * Scene Mode Selector
 */
.scene-mode-selector {
    position: relative;
    z-index: var(--lgs-ui-layer-zindex);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

.scene-mode-selector sl-button {
    display: none;
    order: 2;
}

.scene-mode-selector sl-button[visible] {
    display: flex;
    order: 1;
}

.scene-mode-selector[waiting-mode="true"] sl-button {
    display: flex;
}

/*******************************************************************************
 * Map Rotation
 */
:root {
    --map-rotation-speed: 60s
}

#launch-rotation::part(spinner) {
    --indicator-color: var(--lgs-warning-color);
    --track-width: 4px;
    --speed: var(--map-rotation-speed)
}