html {
    --sl-scroll-lock-gutter: unset !important;
}

#lgs-main-ui {
    display: flex;
    gap: var(--lgs-gutter-s);
    position: fixed;
    top: 0;
    height: 100dvh;
    left: 0;
    width: 100vw;
    pointer-events: none;
    z-index: var(--lgs-ui-layer-zindex);
}

#lgs-main-ui > div {
    display: flex;
    gap: var(--lgs-gutter-s);
}

:root {
    --secondary-buttons-bar-right: 0;
    --secondary-buttons-bar-left: 0;
    --secondary-buttons-bar-margin-left: 0;

    --primary-buttons-bar-right: 0;
    --primary-buttons-bar-left: 0;
}

#primary-buttons-bar {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--top);
    margin: 0 var(--right) 0 var(--left);
    max-width: calc(100% - var(--left) - var(--right));
    left: var(--primary-buttons-bar-left);
    right: var(--primary-buttons-bar-right);
    --lgs-animation-duration: 1s;
}

#secondary-buttons-bar {
    flex-direction: column;
    align-items: center;
    gap: var(--lgs-gutter-s);
    --width: var(--lgs-compass-size);
    pointer-events: auto;
    position: relative;
    width: var(--lgs-compass-size);
    margin: 0 var(--right) 0 var(--left);
    right: var(--secondary-buttons-bar-right);
    left: var(--secondary-buttons-bar-left);
    margin-left: var(--secondary-buttons-bar-margin-left)
}

:root {
    --lgs-secondary-buttons-bar-left-delta: 20px;
    --lgs-secondary-buttons-bar-right-delta: 1px
}

#secondary-buttons-bar-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
    top: var(--lgs-compass-size);
}

#bottom-ui {
    display: flex;
    height: 50dvh;
    width: 100vw;
    flex-direction: row;
    padding: var(--lgs-gutter-s);
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottom-right-ui {
    position: absolute;
    bottom: var(--bottom);
    right: var(--right);
}

#bottom-left-ui {
    position: absolute;
    bottom: var(--bottom);
    left: var(--right);
    flex-direction: row;
}

#used-platform {
    line-height: 1;
    color: white;
}


/***************************************
 * Toolbar
 */
.lgs-ui-toolbar {
    display: flex;
    gap: var(--lgs-gutter-s);
    justify-items: normal;
    align-items: center;
}

.lgs-ui-toolbar.vertical {
    flex-direction: column;
    justify-items: center;
    align-items: normal;
}

.lgs-ui-toolbar sl-divider {
    height: 1rem;
    --spacing: 0
}

.lgs-ui-toolbar sl-button {
    max-width: max-content;
}

.lgs-ui-toolbar.embed sl-button {
    --sl-input-border-width: 0;
}

.journey-toolbar {
    display: flex;
    gap: var(--lgs-gutter-s);
    flex-direction: row;
}

.journey-toolbar-content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--lgs-gutter-s);
    margin-left: auto;
    width: 40rem;
    --lgs-animation-duration: 0.2s

}

.mobile .journey-toolbar-content {
    /**
     TODO width: calc(var(--lgs-max-mobile-width) - 3 * var(--lgs-line-dimension))
     */
    width: 15rem;
    max-width: 15rem;
}

[placement^="left-"] .journey-toolbar-content {
    margin-right: auto;
    flex-direction: row-reverse;
}

[placement^="right-"] .journey-toolbar-content {
    margin-left: auto;
    flex-direction: row;
}


.mobile .journey-toolbar-content .journey-selector,
.mobile .journey-toolbar-content .journey-title {
    order: 10;
}

/***************************************
 * Dropdown Toolbar
 */
.lgs-ui-dropdown-toolbar.just-icons sl-menu {
    align-items: center;
    padding: 0;
    overflow-x: hidden;
}
.lgs-ui-dropdown-toolbar.just-icons ::part(submenu-icon),
.lgs-ui-dropdown-toolbar.just-icons ::part(checked-icon) {
    display: none;
}
.lgs-ui-dropdown-toolbar.just-icons sl-menu-item::part(base) {
    padding: 0 var(--sl-spacing-2x-small);
}

/***************************************
 * Toolbar buttons
 */

#open-info-panel {
    margin-top: var(--lgs-gutter);
}
/***************************************
 * Profile
 */
#profile-ui {
    display: flex;
    flex-grow: 1;
    pointer-events: none;
}

/***************************************
 * Wander Controls
 */
.wanderDuration {
    width: 7rem;
}

/***************************************
 * Welcome modal
 *
 * https://hype4.academy/tools/glassmorphism-generator
 */
#welcome-modal::part(panel) {
    --body-spacing: 0;
    /*background: rgba( 255, 255, 255, 0.15 );*/
    /*background-image: linear-gradient(to right, rgba(255,188,0,0.30), rgba(255,114,15,0.30));*/
    box-shadow: var(--sl-shadow-x-large);
    /*backdrop-filter: blur( var(--lgs-blur) );*/
    /*border-radius: 10px;*/
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    color: black;
    cursor: pointer
}

#welcome-modal #footer{
    display: flex !important;
    flex-direction: column;
    gap: var(--lgs-gutter);
    justify-content: flex-start;
    text-align: start;
    width: 100%;
}

#welcome-modal .welcome-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--lgs-gutter);
    box-shadow: var(--sl-shadow-medium);
}

#welcome-links {
    position: absolute;
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter);
    bottom: 0;
    left: var(--lgs-gutter-s);
    width: calc(100% - 2 * var(--lgs-gutter-s));
}

#welcome-links sl-button {
    margin-left: auto;
}

#welcome-links sl-button::part(base) {
    color: black;
    font-weight: normal;
}

#welcome-links-do-not-show {
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter-s);
}

#welcome-links-do-not-show sl-checkbox::part(base) {
    color: black
}

#welcome-links-do-not-show sl-checkbox::part(control) {
    color: black;
    background: transparent;
    border: 1px solid black;
}
#waiting-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--lgs-gutter-s);
}

/*******************************************************************************
 * Main CFA
 */

.call-for-actions {
    position: absolute;
    pointer-events: auto;
    top: 75dvh;
    width: 100%;
    justify-content: center;
}

.call-for-actions .buttons-bar {
    display: flex;
    gap: var(--lgs-gutter) !important;
}

.call-for-actions [outline] {
    border-color: var(--lgs-border-color) !important;
    backdrop-filter: blur(var(--lgs-blur));
    background: rgba(255, 255, 255, 0.3);
}

.call-for-actions [outline]::part(base) {
    color: var(--lgs-text-on-color);
}

/*******************************************************************************
 * Scene Mode Selector
 */
.scene-mode-selector {
    position: relative;
    z-index: var(--lgs-ui-layer-zindex);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

.scene-mode-selector sl-button {
    display: none;
    order: 2;
}

.scene-mode-selector sl-button[visible] {
    display: flex;
    order: 1;
}

.scene-mode-selector[waiting-mode="true"] sl-button {
    display: flex;
}

/*******************************************************************************
 *
 */