
#lgs-main-ui {
    display: flex;
    gap: var(--lgs-gutter-s);
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100vw;
    pointer-events: none;

    z-index: var(--lgs-ui-layer-zindex);

}

#lgs-main-ui > div {
    display: flex;
    gap: var(--lgs-gutter-s);
    --top: var(--lgs-gutter-s);
    --left: var(--lgs-gutter-s);
    --bottom: var(--lgs-gutter-s);
    --right: var(--lgs-gutter-s);
}

#top-left-ui {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--top);
    left: var(--left);
}
:root{
    --top-right-ui-right-margin:0
}

#top-right-ui {
    pointer-events: auto;
    position: absolute;
    top: var(--top);
    right: var(--right);
    height: var(--lgs-compass-size);
    width: var(--lgs-compass-size);
    margin-right:var(--top-right-ui-right-margin)
}

#bottom-ui {
    display: flex;
    height: 50vh;
    width: calc(100vw - 2 * var(--lgs-gutter-s));
    flex-direction: row;
    padding: var(--lgs-gutter-s);
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottom-right-ui {
    height: var(--lgs-gutter-s);
    width: var(--lgs-gutter-s);
    align-self: flex-end;
}

#bottom-left-ui {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
    align-self: flex-end;
}

/***************************************
 * Toolbar
 */
.lgs-ui-toolbar {
    display: flex;
    gap: var(--lgs-gutter-s);
    justify-items: normal;
    align-items: center;
}

.lgs-ui-toolbar.vertical {
    flex-direction: column;
    justify-items: center;
    align-items: normal;
}

.lgs-ui-toolbar sl-divider {
    height: 1rem;
    --spacing: 0
}

.lgs-ui-toolbar sl-button {
    max-width: max-content;
}

.lgs-ui-toolbar.embed sl-button {
    --sl-input-border-width: 0;
}
/***************************************
 * Dropdown Toolbar
 */
.lgs-ui-dropdown-toolbar.just-icons sl-menu {
    align-items: center;
    padding: 0;
    --lgs-dimension: 1.4rem;
    overflow-x: hidden;
}
.lgs-ui-dropdown-toolbar.just-icons ::part(submenu-icon),
.lgs-ui-dropdown-toolbar.just-icons ::part(checked-icon) {
    display: none;
}
.lgs-ui-dropdown-toolbar.just-icons sl-menu-item::part(base) {
    padding: 0 var(--sl-spacing-2x-small);
}
/***************************************
 * Profile
 */
#profile-ui {
    display: flex;
    flex-grow: 1;
    pointer-events: none;
}

/***************************************
 * Wander Controls
 */
.wanderDuration {
    width: 7rem;
}

/***************************************
 * Welcome modal
 *
 * https://hype4.academy/tools/glassmorphism-generator
 */
#welcome-modal::part(panel) {
    background: rgba( 255, 255, 255, 0.15 );
    background-image: linear-gradient(to right, rgba(255,188,0,0.30), rgba(255,114,15,0.30));
    box-shadow: var(--sl-shadow-x-large);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color:#fff
}

#welcome-modal #footer{
    display: flex !important;
    flex-direction: column;
    gap: var(--lgs-gutter);
    justify-content: flex-start;
    text-align: start;
    width: 100%;
}

#welcome-modal .buttons-bar {
    display: flex;
    justify-content: space-between;
}