/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2025-07-01
 * Last modified: 2025-07-01
 *
 *
 * Copyright © 2025 LGS1920
 ******************************************************************************/

/*#info-drawer::part(body) {*/
/*    overflow: hidden;*/
/*}*/


.whats-new-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--lgs-gutter-s);
    --sl-spacing-medium: var(--lgs-gutter-xs);
}

.whats-new-list summary {
margin: 0 !important
}
