/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2026-03-18
 * Last modified: 2026-03-18
 *
 *
 * Copyright © 2026 LGS1920
 ******************************************************************************/

/*#info-drawer::part(body) {*/
/*    overflow: hidden;*/
/*}*/


.lgs--whats-new-list {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
    gap: var(--lgs-gutter-xs);
}

.lgs--whats-new-list .wa-details-open {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.lgs--whats-new-list .version-content {
    overflow: hidden;
    flex: 1;
    min-height: 0;
}

.lgs--whats-new-list summary {
    margin: 0 !important
}

.lgs--credits-list::part(body) {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
}