
#open-credits-pane {
    position: fixed;
    bottom: var(--vt3d-gutter);
    left: var(--vt3d-gutter);
    top: auto;
    right: auto;
}

#credits-pane-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#credits-pane-footer strong:after {
    content: ' - ';
    font-weight: normal;
}