#open-the-setting-panel {
    margin-bottom: var(--lgs-gutter);
}

#layers-and-terrains-settings {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s)
}

#layers-and-terrains-settings-header {
    display: flex;
    justify-content: space-between;
}

.layer-entities-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--lgs-gutter-s);
    width: 100%;
    flex-wrap: wrap;
}

.layers-provider-header {
    width: 100%;
    flex: 0 0 100%;
    grid-column: span 4
}

.layer-entity {
    position: relative;
    display: flex;
    aspect-ratio: 1;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

.thumbnail-background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
    filter: grayscale(0.7) blur(1px);
}

.layer-entity.unlocked .thumbnail-background, .layer-entity:not(.free):hover .thumbnail-background {
    filter: none;
}

.layer-entity:hover .thumbnail-background {
    transform: scale(2)
}

.unlocked .thumbnail-background {
    filter: none;

}

.layer-entity:hover {
    border: 2px solid var(--lgs-button-border-hover-color);
}

.layer-entity.entity-selected {
    border: 2px solid var(--lgs-success-color);
}

.layer-entity > a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.entity-checkbox, .entity-access, .entity-lock-status {
    position: absolute;
    font-size: 1rem;
    line-height: 1;
}

.entity-checkbox {
    top: var(--lgs-gutter-xs);
    right: calc(var(--lgs-gutter-xs) - 3px); /* Manual right adjust. */
}

.entity-lock-status {
    top: var(--lgs-gutter-xs);
    left: calc(var(--lgs-gutter-xs)); /* Manual right adjust. */
}

.entity-access, .entity-lock-status {
    font-size: 13px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding-left: 3px;
    align-items: center;
    border-radius: var(--lgs-border-radius-xs);
    border: var(--lgs-border-s);
    bottom: var(--lgs-gutter-xs);
    left: var(--lgs-gutter-xs);
    background: white;
}

.entity-access.freemium, .entity-lock-status.freemium {
    color: var(--lgs-freemium-color);
}

.entity-access.premium, .entity-lock-status.premium {
    color: var(--lgs-premium-color);
}

.entity-access.unlocked.free {
    display: none;
}

.entity-selected .entity-checkbox {
    color: var(--lgs-success-color)
}

.provider-name {
    font-weight: bold;
}

.authent-tasks-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);

}

.authent-tasks-list li {
    display: flex;
    align-content: flex-start;
    gap: var(--lgs-gutter-s);
}

.authent-tasks-list sl-badge::part(base) {
    font-weight: normal;
}
