/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2025-07-04
 * Last modified: 2025-07-04
 *
 *
 * Copyright © 2025 LGS1920
 ******************************************************************************/

.camera-position {
    display: flex;
    gap: var(--lgs-gutter-s);
}

.camera-data-panel {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    pointer-events: auto;
}

.camera-data-panel > sl-icon:first-child {
    width: 2rem;
    border-right: 1px solid var(--lgs-card-on-map-border-color);
}

.camera-data-panel > div {
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter-s);
    line-height: 1.4
}

.camera-data-panel > div:nth-child(3) {
    padding-left: calc(2rem + var(--lgs-gutter-s));
}

.camera-data-panel > sl-icon {
    align-items: center;
}

.camera-data-panel::part(base) {
    --padding: 0 var(--lgs-gutter-s);
}

.camera-data-panel::part(body) {
    display: flex;
    gap: var(--lgs-gutter-s);
    align-items: center;
}

#camera-and-target-position-panel {
    position: absolute;
    top: var(--top);
    left: var(--left);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100vw - var(--left) - var(--right));
    opacity: 0;
}

