/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2025-03-02
 * Last modified: 2025-03-02
 *
 *
 * Copyright © 2025 LGS1920
 ******************************************************************************/

/*******************************************************************************
 * POI on MAP
 ******************************************************************************/
:root {
    --poi-border-width: 2px;
    --poi-reduce-dimension: 32px
}

.poi-on-map-wrapper {
    font-size: var(--lgs-font-size);
    font-weight: normal;
    position: absolute;
    left: -50%;
    display: flex;
    max-width: 130px;
    user-select: none;
    transition: transform 0.1s ease-out;
    transform: translate(-50%, 0);
    pointer-events: all;
}

.poi-on-map-wrapper.poi-shrinked {
    font-size: var(--poi-reduce-dimension);
    line-height: 1;
    width: var(--poi-reduce-dimension);
    height: var(--poi-reduce-dimension);
}

.poi-on-map {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1;
    border: var(--poi-border-width) solid var(--lgs-poi-border-color);
    border-radius: var(--lgs-border-radius-s);
    box-shadow: 0 5px calc(10 * var(--poi-border-width)) var(--poi-border-width) rgba(0, 0, 0, 0.3);
    --lgs-animation-duration: 2s;
}

.poi-on-map-triangle-down {
    position: absolute;
    bottom: calc(-4 * var(--poi-border-width));
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    opacity: 0.8;
    border-top: calc(4 * var(--poi-border-width)) solid var(--lgs-poi-color);
    border-right: calc(2 * var(--poi-border-width)) solid transparent;
    border-left: calc(2 * var(--poi-border-width)) solid transparent;
}

.poi-shrinked .poi-on-map {
    margin: 0;
    padding: 0;
}

.poi-on-map-inner {
    position: relative;
    user-select: none;
    pointer-events: all;
    backdrop-filter: blur(var(--lgs-blur-s));
}

.poi-on-map-inner-background {
    position: absolute;
    top: var(--poi-border-width);
    right: var(--poi-border-width);
    bottom: var(--poi-border-width);
    left: var(--poi-border-width);
    opacity: 0.6;
    border-radius: var(--lgs-border-radius-xs);
    background-color: var(--lgs-poi-background-color);

}

.poi-on-map-wrapper:not(.poi-shrinked) .poi-on-map-inner {
    padding: var(--lgs-gutter-xs);
    color: var(--lgs-poi-color);
}

.poi-shrinked .poi-on-map-inner {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.poi-shrinked .poi-on-map-inner svg {
    max-width: 22px !important;
}

.poi-on-map-marker {
    position: absolute;
    bottom: calc(-0.5 * var(--width));
    left: calc(-0.5 * var(--width));
    width: var(--width);
    height: var(--width);
    border-radius: 50%;
    --width: var(--lgs-gutter);
}

.poi-shrinked .poi-on-map-marker {
    --width: var(--lgs-gutter-s);
}

.poi-on-map-inner h3 {
    font-size: calc(1.1 * var(--lgs-font-size));
    font-weight: 500;
    line-height: 1;
    max-width: 100%;

    margin: 0;
    text-wrap: wrap;
    word-wrap: normal;
}

.poi-on-map-inner .poi-elevation {
    line-height: 1;
    margin-top: var(--lgs-gutter-s);
}

.poi-on-map-inner .poi-full-coordinates {
    font-size: calc(1.1 * var(--lgs-font-size-s));
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
}

.poi-on-map-inner .poi-coordinates {
    font-size: calc(var(--lgs-font-size-s));
}

.poi-on-map .poi-shrinked {
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 15px solid transparent;*/
    /*border-bottom: 15px solid transparent;*/
    /*border-left: 40px solid var(--lgs-poi-color);*/
}

.poi-as-flag {
    width: calc(var(--poi-reduce-dimension) * 0.5);
    color: var(--lgs-poi-color);
    --fa-primary-color: var(--lgs-poi-color); /* Couche primaire */
    --fa-secondary-color: var(--lgs-poi-background-color); /* Couche secondaire */
    --fa-secondary-opacity: 1;
    --fa-primary-opacity: 1;
}

.poi-icons .poi-as-flag {
    height: calc(var(--poi-reduce-dimension) * 0.67);
}
.poi-on-map-wrapper .poi-icons {
    font-size: var(--lgs-font-size-m);
    position: absolute;
    left: -10px;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

.context-menu-title-when-reduced {
    overflow: hidden;
    width: 100%;
    max-width: 10rem;
    padding: 0 var(--lgs-gutter-xs);
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*******************************************************************************
 * Edit Panel
 */

.edit-map-poi-item-wrapper {
    display: flex;
    justify-content: space-between;
    gap: var(--lgs-gutter-xs);
}

.map-poi-bulk-indicator {
    width: var(--lgs-gutter)
}

.map-poi-bulk-indicator sl-icon-button {
    font-size: var(--lgs-font-size);
}

.map-poi-bulk-indicator sl-icon-button::part(base) {
    padding-top: 1rem;
    padding-right: 0;
    padding-left: 0;
}

.map-poi-bulk-actions {
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter-xs);
}

#edit-map-poi-list {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

.edit-map-poi-item:hover {
    box-shadow: var(--sl-shadow-x-large);
}

.edit-map-poi-item [slot="summary"],
.edit-map-poi-item [slot="summary"] span {
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter-xs);
}

.edit-map-poi-item [slot="summary"] span:first-child {
    overflow: hidden;
    width: 13rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.edit-map-poi-item [slot="summary"] {
    justify-content: space-between;
    width: 100%;
    margin-right: var(--lgs-gutter);
}

.map-poi-hidden::part(header) {
    background: var(--lgs-disabled-bg-color);
}

::part(header) {
    background: var(--map-poi-bg-header);
}

.edit-map-poi-wrapper {
    display: flex;
    flex-direction: column;
}

.edit-map-poi-item {
    flex: 1;
}


.map-poi-edit-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: var(--lgs-gutter-s);
    gap: var(--lgs-gutter-xs);
}

.map-poi-edit-item {
    flex: 1;
    width: 5rem;
}

.map-poi-color-actions {
    display: flex;
    margin-bottom: -2rem; /** TODO Found where this has been set */
    margin-left: auto;
    gap: var(--lgs-gutter-xs);
}

.map-poi-edit-item.in-dms {
    padding-left: var(--sl-input-spacing-small);
}

.map-poi-edit-warning-altitude span:not(::part) {
    color: var(--lgs-warning-color)
}

.map-poi-edit-warning-altitude::part(input) {
    background: var(--lgs-warning-bg-color);
}

.map-poi-edit-warning-altitude::part(suffix) {
    color: var(--sl-input-color);
    background: var(--lgs-warning-bg-color);
}

.map-poi-edit-warning-altitude::part(label) {
    display: flex;
    justify-content: space-between;
}

#map-poi-edit-settings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#map-poi-edit-settings sl-switch {
    width: 35%;
    margin-left: auto;
}

.edit-title-map-poi-input {
    width: 100%;
}

.edit-title-map-poi-input::part(form-control-label) {
    width: 100%;
}

.edit-title-map-poi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.edit-poi-copy-coordinates {
    font-size: var(--lgs-font-size-m);
    align-self: end;
}

.edit-poi-menu sl-menu-item::part(label) {
    margin-left: var(--lgs-gutter-xs);
}

.map-poi-edit-filter {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

.map-poi-edit-toggle-filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.map-poi-edit-toggle-filter ::part(base) {
    height: unset;
}

.map-poi-edit-toggle-filter header {
    display: flex;
    align-items: center;
}

.map-poi-filter-by-name {
    display: flex;
    align-items: end;
    gap: var(--lgs-gutter-xs);
}

.map-poi-filter-by-name sl-input::part()

#map-poi-filter-alphabetic {
    align-self: self-end;
}

.map-poi-edit-toggle-filter sl-divider {
    margin-top: 0;
}

#map-poi-edit-filter-trigger {
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.map-poi-filter-active {
    color: var(--lgs-success-color)
}

.map-poi-categorie-selector sl-option::part(prefix), .map-poi-categorie-selector::part(prefix) {
    margin-right: var(--lgs-gutter-s);
}

.map-poi-category-filter {
    display: flex;
    gap: var(--lgs-gutter-s);
}

.map-poi-categorie-selector-filter {
    width: 100%;
}

.map-poi-categorie-selector-filter::part(form-control-label) {
    width: 100%;
}

.map-poi-categorie-selector-filter::part(form-control-label) [slot="label"] sl-switch {
    width: 30%;
}

[slot="clear-icon"] {
    font-size: var(--lgs-font-size-s);
    display: inline-flex;
    width: 0.8rem;
    height: 0.8rem;
}