/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2025-06-15
 * Last modified: 2025-06-15
 *
 *
 * Copyright © 2025 LGS1920
 ******************************************************************************/

/*******************************************************************************
 * POI on MAP
 ******************************************************************************/
:root {
    --poi-border-width: 3px;
    --poi-reduce-dimension: var(--lgs-dimension);
    --poi-icons-column-width: calc(0.8 * var(--lgs-dimension));
    --poi-delta-x: calc(var(--poi-icons-column-width) / 2);
    --poi-expanded-dimension: 140px;
    --triangle-size: calc(3 * var(--poi-border-width));
    --poi-padding: var(--lgs-gutter-xs);
}

.poi-on-map-wrapper {
    font-size: var(--lgs-font-size);
    font-weight: normal;
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: flex;

}

.poi-on-map-wrapper.poi-shrinked {
    font-size: var(--poi-reduce-dimension);
    line-height: 1;
    width: var(--poi-reduce-dimension);
    height: calc(var(--poi-reduce-dimension) + var(--triangle-size));
    --poi-delta-x: 0;
}

.poi-on-map {
    display: flex;
    flex-direction: column;
    width: calc(var(--poi-expanded-dimension) + var(--poi-icons-column-width));
    pointer-events: none;
    opacity: 1;
}

.poi-on-map-triangle-down {
    position: absolute;
    bottom: calc(-1 * var(--triangle-size) - var(--poi-border-width));
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    opacity: 1;
    border-top: calc(var(--triangle-size)) solid var(--lgs-poi-color);
    border-right: calc(var(--demi)) solid transparent;
    border-left: calc(var(--demi)) solid transparent;
    --demi: var(--triangle-size)/2;
}

.poi-shrinked .poi-on-map {
    margin: 0;
    padding: 0;
}

.poi-on-map-inner {
    display: flex;
    flex-direction: column;
    width: var(--poi-expanded-dimension);
    margin-bottom: var(--triangle-size);
    margin-left: calc(1 * var(--poi-icons-column-width));
    border: var(--poi-border-width) solid var(--lgs-poi-border-color);
    border-radius: var(--lgs-border-radius-s);
    backdrop-filter: blur(var(--lgs-blur-s));
}

.poi-shrinked .poi-on-map-inner {
    position: absolute;
    width: var(--poi-reduce-dimension);
    height: var(--poi-reduce-dimension);
    margin: 0;
}

.poi-on-map-inner-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: calc(var(--poi-padding) * -1);
    opacity: 0.6;
    border-radius: var(--lgs-border-radius-xs);
    background-color: var(--lgs-poi-background-color);
}

.poi-on-map-wrapper:not(.poi-shrinked) .poi-on-map-inner {
    padding: var(--poi-padding);
    color: var(--lgs-poi-color);
}

.poi-shrinked .poi-on-map-inner-background {
    margin: 0;
}

.poi-shrinked .poi-on-map-inner svg {
    align-self: center;
    max-width: var(--poi-reduce-dimension) !important;
}

.poi-on-map-inner h3 {
    font-size: calc(1.1 * var(--lgs-font-size));
    font-weight: 500;
    line-height: 1;
    max-width: 100%;
    margin: 0;
    text-wrap: wrap;
    word-wrap: normal;
}

.poi-on-map-inner .poi-elevation {
    line-height: 1;
    margin-top: var(--lgs-gutter-s);
}

.poi-on-map-inner .poi-full-coordinates {
    font-size: calc(1.1 * var(--lgs-font-size-s));
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
    text-wrap-mode: nowrap;
}

.poi-on-map-inner .poi-coordinates {
    font-size: calc(var(--lgs-font-size-s));
}

.poi-on-map .poi-shrinked {
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 15px solid transparent;*/
    /*border-bottom: 15px solid transparent;*/
    /*border-left: 40px solid var(--lgs-poi-color);*/
}

.poi-as-flag {
    width: calc(var(--poi-reduce-dimension) * 0.5);
    color: var(--lgs-poi-color);
    --fa-primary-color: var(--lgs-poi-color); /* Couche primaire */
    --fa-secondary-color: var(--lgs-poi-background-color); /* Couche secondaire */
    --fa-secondary-opacity: 1;
    --fa-primary-opacity: 1;
}

.poi-icons .poi-as-flag {
    height: calc(var(--poi-reduce-dimension) * 0.67);
}

.poi-on-map-wrapper .poi-icons {
    font-size: var(--lgs-font-size-m);
    position: absolute;
    /*left: -10px;*/
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

.context-menu-title-when-reduced {
    overflow: hidden;
    width: 100%;
    max-width: 10rem;
    padding: 0 var(--lgs-gutter-xs);
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*******************************************************************************
 * Edit Panel
 */

.edit-map-poi-item-wrapper {
    display: flex;
    justify-content: space-between;
    gap: var(--lgs-gutter-xs);
}

.map-poi-bulk-indicator {
    width: var(--lgs-gutter)
}

.map-poi-bulk-indicator sl-icon-button {
    font-size: var(--lgs-font-size);
}

.map-poi-bulk-indicator sl-icon-button::part(base) {
    padding-top: 1rem;
    padding-right: 0;
    padding-left: 0;
}

.map-poi-bulk-actions {
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter-xs);
}

#edit-map-poi-list {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

.edit-map-poi-item:hover {
    box-shadow: var(--sl-shadow-x-large);
}

.edit-map-poi-item [slot="summary"],
.edit-map-poi-item [slot="summary"] span {
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter-xs);
}

.edit-map-poi-item [slot="summary"] span:first-child {
    overflow: hidden;
    width: 13rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.edit-map-poi-item [slot="summary"] {
    justify-content: space-between;
    width: 100%;
    margin-right: var(--lgs-gutter);
}

.map-poi-hidden::part(header) {
    background: var(--lgs-disabled-bg-color);
}

::part(header) {
    background: var(--map-poi-bg-header);
}

.edit-map-poi-wrapper {
    display: flex;
    flex-direction: column;
}

.edit-map-poi-item {
    flex: 1;
}


.map-poi-edit-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: var(--lgs-gutter-xs);
    gap: var(--lgs-gutter-xs);
}

.map-poi-edit-row-coordinates {
    display: grid;
    align-items: center;
    justify-content: start;
    gap: var(--lgs-gutter-xs);
    grid-template-columns: 1fr 1fr 32px;
}

.map-poi-edit-item {
    flex: 1;
    width: 10rem;
}

.map-poi-color-actions {
    display: flex;
    margin-bottom: -2rem; /** TODO Found where this has been set */
    margin-left: auto;
    gap: var(--lgs-gutter-xs);
}

.map-poi-edit-item.in-dms {
    padding-left: var(--sl-input-spacing-small);
}

.map-poi-edit-warning-altitude span:not(::part) {
    color: var(--lgs-warning-color)
}

.map-poi-edit-warning-altitude::part(input) {
    background: var(--lgs-warning-bg-color);
}

.map-poi-edit-warning-altitude::part(suffix) {
    color: var(--sl-input-color);
    background: var(--lgs-warning-bg-color);
}

.map-poi-edit-warning-altitude::part(label) {
    display: flex;
    justify-content: space-between;
}

#map-poi-edit-settings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#map-poi-edit-settings sl-switch {
    width: 35%;
    margin-left: auto;
}

.edit-title-map-poi-input {
    width: 100%;
}

.edit-title-map-poi-input::part(form-control-label) {
    width: 100%;
}

.edit-title-map-poi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.edit-poi-copy-coordinates {
    font-size: var(--lgs-font-size-m);
    align-self: end;
}

.edit-poi-menu sl-menu-item::part(label) {
    margin-left: var(--lgs-gutter-xs);
}

.map-poi-edit-filter {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

#map-poi-edit-filter-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.map-poi-edit-toggle-filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.map-poi-edit-toggle-filter sl-divider {
    margin-top: 0;
}

.map-poi-edit-toggle-filter ::part(base) {
    height: unset;
}

.map-poi-edit-toggle-filter header {
    display: flex;
    align-items: center;
}

.map-poi-filter-by-type {
    display: flex;
    width: 100%;
    gap: var(--lgs-gutter-s);
}


.map-poi-filter-by-type sl-switch {
    width: 50% !important;
    margin-left: auto;
}

.map-poi-filter-by-name {
    display: flex;
    align-items: end;
    gap: var(--lgs-gutter-s);
}

.map-poi-filter-alphabetic {
    align-self: self-end;
}

.map-poi-clear-filter {
    margin-left: auto;
}

#map-poi-edit-filter-trigger {
    margin: 0 0 0 auto;
    padding: 0;
}

.map-poi-filter-active {
    color: var(--lgs-success-color)
}

.map-poi-category-selector sl-option::part(prefix), .map-poi-category-selector::part(prefix) {
    margin-right: var(--lgs-gutter-s);
}

.map-poi-category-filter {
    display: flex;
    gap: var(--lgs-gutter-s);
}

.map-poi-category-selector-filter {
    width: 100%;
}

.map-poi-category-selector-filter + sl-divider {
/ / margin-top: var(--lgs-gutter-s);
}

.map-poi-category-selector-filter::part(form-control-label) {
    width: 100%;
}

.map-poi-category-selector-filter::part(form-control-label) [slot="label"] sl-switch {
    width: 30%;
}

[slot="clear-icon"] {
    font-size: var(--lgs-font-size-s);
    display: inline-flex;
    width: 0.8rem;
    height: 0.8rem;
}