/*******************************************************************************
 * POI on MAP
 ******************************************************************************/

.poi-on-map-wrapper {
    font-size: var(--lgs-font-size);
    font-weight: normal;
    position: absolute;
    display: flex;
    width: 130px;
    height: 100px;
    user-select: none;
    transition: transform 0.1s ease-out;
    transform: translate(0, 0);
    pointer-events: auto;
    color: var(--lgs-poi-color);
}

.poi-on-map-wrapper.poi-shrinked {
    font-size: 24px;
    line-height: 1;
    width: 24px;
    height: 24px;
}

.poi-on-map {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 var(--lgs-gutter-xs);
    white-space: nowrap;
    pointer-events: none;
    opacity: 1;
    color: var(--lgs-poi-color);
    border-left: 1px solid var(--lgs-poi-color);
    --lgs-animation-duration: 2s;
}

.poi-shrinked .poi-on-map {
    margin-left: -3px;
    padding: 0;
    border-left: none;
}

.poi-on-map-inner {

    max-width: 100%;
    user-select: none;
    pointer-events: all;
}

.poi-on-map-wrapper:not(.poi-shrinked) .poi-on-map-inner {
    margin-bottom: calc(var(--lgs-gutter-xs) + var(--lgs-dimension));
    padding: var(--lgs-gutter-xs) var(--lgs-gutter-s) var(--lgs-gutter-s) var(--lgs-gutter-xs);
    border-color: var(--lgs-poi-color);
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-left-radius: 3px;
    border-image: linear-gradient(var(--lgs-poi-color), rgba(0, 255, 255, 0)) 40%;
    background-image: linear-gradient(135deg, var(--lgs-poi-gradient-color) 0%, rgba(0, 255, 255, 0.1) 50%, rgba(0, 255, 255, 0) 70%);
    backdrop-filter: blur(var(--lgs-blur-s));
}

.poi-shrinked .poi-on-map-inner {
    position: absolute;
    bottom: 2px;
    left: -1.5px;
}

.poi-on-map-marker {
    position: absolute;
    bottom: calc(-0.5 * var(--width));
    left: calc(-0.5 * var(--width));
    width: var(--width);
    height: var(--width);
    border-radius: 50%;
    background: var(--lgs-poi-color);
    --width: var(--lgs-gutter);
}

.poi-shrinked .poi-on-map-marker {
    --width: var(--lgs-gutter-s);
}

.poi-on-map-inner h3 {
    font-size: calc(1.1 * var(--lgs-font-size));
    font-weight: 500;
    line-height: 1;
    max-width: 100%;

    margin: 0;
    text-wrap: wrap;
    word-wrap: normal;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.poi-on-map-inner .poi-elevation {
    line-height: 1;
    margin-top: var(--lgs-gutter-s);
}

.poi-on-map-inner .poi-full-coordinates {
    font-size: calc(1.1 * var(--lgs-font-size-s));

    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
}

.poi-on-map .poi-shrinked {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 40px solid var(--lgs-poi-color);
}

.poi-as-flag {
    --fa-primary-color: var(--lgs-poi-color); /* Couche primaire */
    --fa-secondary-color: var(--lgs-poi-color); /* Couche secondaire */
    --fa-secondary-opacity: 0.8;
}

.poi-on-map-wrapper .poi-icons {
    font-size: var(--lgs-font-size-m);
    position: absolute;
    left: -2rem;
    display: flex;
    flex-direction: column;
    padding-right: var(--lgs-gutter-xs);
    gap: var(--lgs-gutter-xs);
}
