/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *  
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2026-03-21
 * Last modified: 2026-03-21
 *
 *
 * Copyright © 2026 LGS1920
 ******************************************************************************/

:root {
    --entity-thumbnail-button-dimension: 20px;
    --layer-list-item-height: 40px
}

#layers-and-terrains-settings {
    position: relative;
    height: 100%;
}

#layers-and-terrains-settings wa-tab-panel::part(base) {
    padding-top: var(--lgs-gutter-s);
}

.layer-entities-wrapper::part(body) {
    display: grid;
    flex-wrap: wrap;
    width: 100%;

    margin-bottom: 1px; /** fix */
    gap: var(--lgs-gutter-s);
    grid-template-columns: repeat(4, 1fr);
}

.by-list.layer-entities-wrapper::part(body) {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
}

.layers-provider-header {
    width: 100%;
    flex: 0 0 100%;
    grid-column: span 4
}

.layer-entity {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    cursor: pointer;
    border-width: 1px;
    /*border-color: var(--wa-color-brand-on-normal);*/
    aspect-ratio: 1;
    gap: var(--lgs-gutter-s);
}

.layer-entity .selected-entity-menu {
    pointer-events: auto
}

.layer-entity:not(.unlocked) {
    color: var(--lgs-disabled-color)
}

.by-list .layer-entity {
    align-items: center;
    height: var(--layer-list-item-height);
}

.by-list .layer-entity::part(body) {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 2px;
    gap: var(--lgs-gutter-s);
}

.by-list .layer-entity .ent {
    display: block;
    margin-left: auto;
}

.thumbnail-background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: background-size 0.5s ease;
}

.by-list .thumbnail-background {
    width: auto;
    aspect-ratio: 1;
    height: 100%;
    position: relative;
}

.layer-entity.unlocked .thumbnail-background, .layer-entity:not(.free):hover .thumbnail-background {
    filter: none;
}

.layer-entity:hover .thumbnail-background {
    background-size: 200%;
}

.layer-entity.unlocked .thumbnail-background {
    filter: none;
}


.layer-entity > a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.entity-sub-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: var(--lgs-gutter-xs);
}

.entity-access, .entity-lock-status {
    font-size: 13px;
    position: absolute;
    top: var(--lgs-gutter-xs);
    left: var(--lgs-gutter-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--entity-thumbnail-button-dimension);
    height: var(--entity-thumbnail-button-dimension);
    padding-left: 1.5px;
    border: var(--lgs-border-s);
    border-radius: var(--lgs-border-radius-xs);
    background: var(--wa-color-surface-default);
}

.wa-light .entity-access, .entity-lock-status {
    background: var(--wa-color-surface-lowered);
}

.by-list .entity-access {
    top: calc(var(--lgs-gutter-xs) - 2px); /* fix for visual */
}

.entity-lock-status {
    top: calc(var(--entity-thumbnail-button-dimension) + 2 * var(--lgs-gutter-xs));
    left: calc(var(--lgs-gutter-xs)); /* Manual right adjust. */
}

.by-list .entity-access, .by-list .entity-lock-status {
    border: none;
    background: unset;
    top: 0;
    left: 0;
    position: relative;
}


.thumbnail-toolbar {
    position: absolute;
    top: calc(var(--entity-thumbnail-button-dimension) + var(--lgs-gutter-xs));
    left: calc(var(--lgs-gutter-xs));
}

.by-list .thumbnail-toolbar {
    position: relative;
    top: unset;
    left: unset;
    border: none;
}

.layer-entity:hover .thumbnail-toolbar {
    display: flex
}


.entity-access.freemium, .entity-lock-status.freemium {
    margin-left: auto;
    color: var(--lgs-freemium-color);
}

.entity-access.premium, .entity-lock-status.premium {
    color: var(--lgs-premium-color);
}

.entity-access.unlocked.free {
    display: none;
}

.provider-name {
    font-weight: bold;
}

.by-thumbnail .entity-name {
    font-size: calc(0.9 * var(--lgs-font-size-s));
    line-height: 1.4;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    color: var(--wa-color-text-normal);
    background-color: var(--wa-color-surface-default);
}

.wa-light .by-thumbnail .entity-name {
    background-color: var(--wa-color-surface-lowered);
}
.by-list .entity-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.by-thumbnail .entity-selected .entity-name {
    color: var(--wa-color-text-normal);
    background-color: var(--wa-color-brand);
}

.layer-entity:hover :not(.entity-selected) .entity-name {
    background-color: var(--lgs-card-ui-color);
    color: var(--lgs-text-on-color);
}


#lgs--layers-manage-authent::part(trigger) {
    --height: 24px;
}

#lgs--layers-manage-authent wa-icon::part(svg) {
    height: var(--height);
    color: var(--wa-color-brand-on-normal);
}

.wa-dark .by-thumbnail #lgs--layers-manage-authent wa-icon::part(svg) {
    color: var(--wa-color-surface-default);
}

.selected-entity-menu {
    font-size: var(--lgs-font-size-l);
}

#layers-and-terrains-filter {
    display: flex;
    align-items: center;
    margin-left: auto;
}


#filter-by-countries {
    width: 100%;
}

#info-layer-modal {
    position: relative;
}

#info-layer-modal::part(body) {
    height: 50vh;
}


/*******************************************************************************
 * Imagery Settings
 */

#layer-settings::part(body) {
    display: flex;
    flex-direction: column;
    margin: var(--lgs-gutter-xs) 0;
    --lgs-animation-duration-on: 0.6s;
    gap: var(--lgs-gutter-s);
}

#layer-settings .buttons-bar {
    justify-content: space-between;
}

.alpha-to-color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 45%;
}

#lgs--layers-filter-by-countries {
    width: 100%;
}