:root {
    --entity-thumbnail-button-dimension: 20px;
    --layer-list-itel-height: 40px
}

#layers-and-terrains-settings {
    position: relative;
}

#layers-and-terrains-settings sl-tab-panel::part(base) {
    padding-top: var(--lgs-gutter-s);
}

#layers-and-terrains-settings [class^="toggle-state-icon-"] {
    font-size: var(--lgs-font-size-m);
}

.layer-entities-wrapper {
    gap: var(--lgs-gutter-s);
    width: 100%;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.by-list.layer-entities-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

.layers-provider-header {
    width: 100%;
    flex: 0 0 100%;
    grid-column: span 4
}

.layer-entity {
    position: relative;
    display: flex;
    aspect-ratio: 1;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    gap: var(--lgs-gutter-s);
}

.layer-entity > * {
    pointer-events: none;
}

.layer-entity .selected-entity-menu {
    pointer-events: auto
}

.layer-entity:not(.unlocked) {
    color: var(--lgs-disabled-color)
}

.by-list .layer-entity {
    align-items: center;
    width: 100%;
    height: var(--layer-list-itel-height);
    padding: var(--lgs-gutter-xs);
}

.by-list .layer-entity :nth-of-type(3) {
    margin-left: auto;
    display: block;
}

.thumbnail-background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
    transition: background-size 0.5s ease;
}

.by-list .thumbnail-background {
    width: auto;
    aspect-ratio: 1;
    height: 100%;
    position: relative;
}

.layer-entity.unlocked .thumbnail-background, .layer-entity:not(.free):hover .thumbnail-background {
    filter: none;
}

.layer-entity:hover .thumbnail-background {
    background-size: 200%;
}

.layer-entity.unlocked .thumbnail-background {
    filter: none;
}

.layer-entity:hover {
    box-shadow: var(--sl-shadow-x-large);
}

.layer-entity.entity-selected {
    border-color: var(--lgs-success-color);
}

.layer-entity > a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.entity-checkbox, .entity-access, .entity-lock-status {
    position: absolute;

}

.entity-checkbox {
    position: absolute;
    font-size: 1rem;
    line-height: 1;
    top: var(--lgs-gutter-xs);
    right: calc(var(--lgs-gutter-xs) - 1.5px); /* Manual right adjust. */
}

.by-list .entity-checkbox {
    position: relative;
    top: 0;
    right: 0;
}

.entity-access, .entity-lock-status {
    position: absolute;
    font-size: 13px;
    width: var(--entity-thumbnail-button-dimension);
    height: var(--entity-thumbnail-button-dimension);
    display: flex;
    justify-content: center;
    padding-left: 1.5px;
    align-items: center;
    border-radius: var(--lgs-border-radius-xs);
    border: var(--lgs-border-s);
    top: var(--lgs-gutter-xs);
    left: var(--lgs-gutter-xs);
    background: white;
}

.by-list .entity-access {
    top: calc(var(--lgs-gutter-xs) - 2px); /* fix for visual */
}

.entity-lock-status {
    top: calc(var(--entity-thumbnail-button-dimension) + 2 * var(--lgs-gutter-xs));
    left: calc(var(--lgs-gutter-xs)); /* Manual right adjust. */
}

.by-list .entity-access, .by-list .entity-lock-status {
    border: none;
    background: unset;
    top: 0;
    left: 0;
    position: relative;
}


.thumbnail-toolbar {
    position: absolute;
    top: calc(var(--entity-thumbnail-button-dimension) + var(--lgs-gutter-xs));
    left: calc(var(--lgs-gutter-xs));
}

.by-list .thumbnail-toolbar {
    position: relative;
    top: unset;
    left: unset;
    border: none;
}

.layer-entity:hover .thumbnail-toolbar {
    display: flex
}


.entity-access.freemium, .entity-lock-status.freemium {
    color: var(--lgs-freemium-color);
}

.entity-access.premium, .entity-lock-status.premium {
    color: var(--lgs-premium-color);
}

.entity-access.unlocked.free {
    display: none;
}

.entity-selected .entity-checkbox svg g .fa-secondary {
    color: var(--lgs-success-color);
    opacity: 1;
}

.entity-selected .entity-checkbox svg g .fa-primary {
    color: white;
}

.provider-name {
    font-weight: bold;
}

.by-thumbnail .entity-name {
    font-size: calc(0.9 * var(--lgs-font-size-s));
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--lgs-card-ui-bg-color);
    color: var(--text-on-color);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.by-list .entity-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.by-thumbnail .entity-selected .entity-name {
    background-color: var(--lgs-success-color);
    color: var(--text-on-color);
}

.layer-entity:hover :not(.entity-selected) .entity-name {
    background-color: var(--lgs-card-ui-color);
    color: var(--text-on-color);
}

.authent-tasks-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);

}

.selected-entity-menu {
    margin-top: var(--lgs-gutter-xs);
}

.selected-entity-menu::part(base) {
    padding: 2px 0;
}

.authent-tasks-list li {
    display: flex;
    align-content: flex-start;
    gap: var(--lgs-gutter-s);
}

.authent-tasks-list sl-badge::part(base) {
    font-weight: normal;
}

#layers-and-terrains-filter {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#filter-entities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--lgs-gutter-s);
    margin-top: var(--lgs-gutter-s);
}

#filter-by-name {
    width: 8rem;
}

.layer-filter-active {
    color: var(--lgs-success-color)
}

#info-layer-modal {
    position: relative;
    z-index: 250000
}

#filter-alert-content {
    display: flex;
    gap: var(--lgs-gutter-s);
    align-content: center;
}

#filter-alert-content sl-button {
    margin-left: auto;
    margin-top: var(--lgs-gutter-s);
}

/*******************************************************************************
 * Imagery Settings
 */

#layer-settings {
    display: flex;
    flex-direction: column;
    margin-top: var(--lgs-gutter-s);
    --lgs-animation-duration-on: 0.6s;

}

.alpha-to-color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 45%;
}
