/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2025-07-19
 * Last modified: 2025-07-19
 *
 *
 * Copyright © 2025 LGS1920
 ******************************************************************************/

#open-the-setting-panel {
    margin-bottom: var(--lgs-gutter);
}

.horizontal-alignment {
    display: flex;
    gap: var(--lgs-gutter-s);
    flex-grow: 2
}

.horizontal-alignment.two-columns > * {
    flex-grow: 1
}

.horizontal-alignment.two-columns sl-radio {
    padding-left: var(--lgs-gutter);
}

#manage-user-profile {
    display: flex;
    margin-left: auto;

}

#manage-user-profile sl-icon {
    font-size: var(--lgs-font-size-m)
}

#style-settings, #global-style-settings {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
}


#ui-camera-settings {
    flex-direction: column;
}

#ui-camera-settings sl-switch {
    width: 100%;
}

#ui-camera-settings sl-switch span {
    display: inline-flex;
    align-items: center;
    gap: var(--lgs-gutter-s);
}

/***************************************
 * Menu disposition
 */


#menu-disposition-chooser {
    --lgs-max-menu-sample: 100px;
    gap: var(--lgs-gutter-s);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, var(--lgs-max-menu-sample)));
}

#menu-disposition-chooser[device="mobile"] {
    --lgs-max-menu-sample: 80px;
}

#menu-disposition-chooser[device="mobile"] .menu-sample {
    aspect-ratio: 9/16;
}

#menu-disposition-chooser .menu-sample > .lgs-card {
    gap: var(--lgs-gutter-xs);
    padding: var(--lgs-gutter-xs);
    display: flex;
    position: relative;
    z-index: 1;
    max-width: var(--lgs-max-menu-sample);
    height: 100%;
}

#menu-disposition-chooser[mobile="true"] .menu-sample > .lgs-card {
    aspect-ratio: 9/16;
    --lgs-max-menu-sample: 80px
}

#menu-disposition-chooser .menu-sample > .lgs-card::before {
    content: "";
    background-image: url('/assets/images/menu-thumbnail.png');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-size 0.5s ease;
}

#menu-disposition-chooser .menu-sample > .lgs-card:hover {
    box-shadow: var(--sl-shadow-x-large);
    border-color: var(--lgs-dark-ui-secondary-color);
}

#menu-disposition-chooser .menu-sample > .lgs-card:hover::before {
    opacity: 0.8
}

#menu-disposition-chooser .menu-sample > .lgs-card.selected {
    border-color: var(--lgs-success-color);
}

#menu-disposition-chooser .menu-sample > .lgs-card.selected::before {
    opacity: 0.7
}

#menu-disposition-chooser .sample-checkbox {
    position: absolute;
    font-size: 1rem;
    line-height: 1;
    top: var(--lgs-gutter-xs);
    right: calc(var(--lgs-gutter-xs) - 1.5px);
}

#menu-disposition-chooser .sample-checkbox svg g .fa-secondary {
    color: var(--lgs-success-color);
    opacity: 1;
}

#menu-disposition-chooser .sample-checkbox svg g .fa-primary {
    color: white;
}

#menu-disposition-chooser .menu-sample .start-end,
#menu-disposition-chooser .menu-sample .end-start {
    justify-content: space-between;
}

#menu-disposition-chooser .menu-sample .bottom-start {
    flex-direction: row-reverse;
}

#menu-disposition-chooser .menu-sample .bottom-end {
    flex-direction: row;
}

#menu-disposition-chooser .menu-sample .end-start,
#menu-disposition-chooser .menu-sample .end-end {
    flex-direction: row-reverse;
}

#menu-disposition-chooser .sample-drawer,
#menu-disposition-chooser .sample-drawer {
    width: 40%;
    background-color: var(--lgs-theme-background-color);
    margin-top: 0;
}

#menu-disposition-chooser[device="mobile"] .sample-drawer {
    width: 100%;
    margin-top: 40%;
}


#menu-disposition-chooser .sample-toolbar {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

#menu-disposition-chooser[device="mobile"] .sample-toolbar {
    margin-top: calc(2 * var(--lgs-gutter));
}

#menu-disposition-chooser .sample-toolbar div {
    border-radius: 2px;
    aspect-ratio: 1;
    width: 5px;
    background-color: var(--lgs-theme-background-color);
}

/*******************************************************************************
 * Editor settings
 *******************************************************************************/
.journey-editor-settings sl-switch {width: 100%}

#toolbars-opacity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: var(--lgs-gutter-s);
}

#toolbars-opacity span {
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter-xs);
}

#toolbars-opacity-reset {
    font-size: var(--lgs-font-size);
}

/*******************************************************************************
 * Compass settings
 *******************************************************************************/

.compass-settings sl-radio-group::part(form-control-input) {
    display: flex;
    align-items: center;
    gap: var(--lgs-gutter-s);

}

.compass-settings sl-radio-group[align="right"]::part(form-control) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--lgs-gutter-s);
}

.compass-settings sl-radio::part(base) {
    display: flex;
    align-items: center;
}

.compass-settings svg {
    margin-right: 0;
}

.compass-settings sl-radio[restrict-margin="true"] svg {
    margin: 0 -10px;
}