/*******************************************************************************
 *
 * This file is part of the LGS1920/studio project.
 *
 * File: style.css
 *
 * Author : LGS1920 Team
 * email: contact@lgs1920.fr
 *
 * Created on: 2026-04-29
 * Last modified: 2026-04-29
 *
 *
 * Copyright © 2026 LGS1920
 ******************************************************************************/

#open-the-setting-panel {
    margin-bottom: var(--lgs-gutter);
}

#manage-user-profile {
    display: flex;
    margin-left: auto;

}

#manage-user-profile wa-icon {
    font-size: var(--lgs-font-size-m)
}

#style-settings, #global-style-settings {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-s);
}


#ui-camera-settings {
    flex-direction: column;
}

#ui-camera-settings wa-switch {
    width: 100%;
}

#ui-camera-settings wa-switch span {
    display: inline-flex;
    align-items: center;
    gap: var(--lgs-gutter-s);
}

/***************************************
 * Menu disposition
 */


#menu-disposition-chooser {
    display: grid;
    width: 100%;
    --lgs--max-menu-sample: 100px;
    gap: var(--lgs-gutter-s);
    grid-template-columns: repeat(4, minmax(0, var(--lgs--max-menu-sample)));
}

#menu-disposition-chooser[device="mobile"] {
    --lgs--max-menu-sample: 80px;
}

#menu-disposition-chooser[device="mobile"] .lgs--main-menu-sample {
    aspect-ratio: 9/16;
}

#menu-disposition-chooser .lgs--main-menu-sample > .lgs-card {
    position: relative;
    z-index: 1;
    display: flex;
    max-width: var(--lgs--max-menu-sample);
    height: 100%;
    padding: var(--lgs-gutter-xs);
    border-width: 3px;
    border-style: solid;
    border-color: var(--wa-color-brand-on-normal);
    gap: var(--lgs-gutter-xs);
}

#menu-disposition-chooser[mobile="true"] .lgs--main-menu-sample > .lgs-card {
    aspect-ratio: 9/16;
    --lgs--max-menu-sample: 80px
}

#menu-disposition-chooser .lgs--main-menu-sample > .lgs-card::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    transition: background-size 0.5s ease;
    opacity: 0.4;
    background-image: url('/assets/images/menu-thumbnail.png');
    background-position: center;
    background-size: cover;
}

.wa-dark #menu-disposition-chooser .lgs--main-menu-sample > .lgs-card::before {
    filter: brightness(2.5) contrast(0.8);
}

#menu-disposition-chooser .lgs--main-menu-sample > .lgs-card:hover {
    border-color: var(--wa-color-brand-50);
    box-shadow: var(--wa-shadow-l);
}

#menu-disposition-chooser .lgs--main-menu-sample > .lgs-card:hover::before {
    opacity: 0.8
}

#menu-disposition-chooser .lgs--main-menu-sample > .lgs-card.selected {
    border-color: var(--wa-color-brand-on-quiet);
}

#menu-disposition-chooser .lgs--main-menu-sample > .lgs-card.selected::before {
    opacity: 0.7
}

#menu-disposition-chooser .lgs--max-menu-sample-checkbox {
    font-size: 1rem;
    line-height: 1;
    position: absolute;
    top: var(--lgs-gutter-xs);
    right: calc(var(--lgs-gutter-xs) - 1.5px);
    color: var(--wa-color-brand-on-quiet);
}

#menu-disposition-chooser .lgs--main-menu-sample .start-end,
#menu-disposition-chooser .lgs--main-menu-sample .end-start {
    justify-content: space-between;
}

#menu-disposition-chooser .lgs--main-menu-sample .bottom-start {
    flex-direction: row-reverse;
}

#menu-disposition-chooser .lgs--main-menu-sample .bottom-end {
    flex-direction: row;
}

#menu-disposition-chooser .lgs--main-menu-sample .end-start,
#menu-disposition-chooser .lgs--main-menu-sample .end-end {
    flex-direction: row-reverse;
}

#menu-disposition-chooser .lgs--main-menu-sample-drawer,
#menu-disposition-chooser .lgs--main-menu-sample-drawer {
    width: 40%;
    margin-top: 0;
    border: none;
    background-color: var(--wa-color-surface-raised);
}

#menu-disposition-chooser[device="mobile"] .lgs--main-menu-lgs--main-menu-sample-drawer {
    width: 100%;
    margin-top: 40%;
}


#menu-disposition-chooser .lgs--main-menu-sample-toolbar {
    display: flex;
    flex-direction: column;
    gap: var(--lgs-gutter-xs);
}

#menu-disposition-chooser .lgs--main-menu-sample-toolbar .lgs-card {
    width: 5px;
    border: none;
    border-radius: 2px;
    background-color: var(--wa-color-brand-fill-loud);
    aspect-ratio: 1;
}

#menu-disposition-chooser[device="mobile"] .lgs--main-menu-sample-toolbar {
    margin-top: calc(2 * var(--lgs-gutter));
}

/*******************************************************************************
 * Editor settings
 *******************************************************************************/
.journey-editor-settings wa-switch {width: 100%}

#toolbars-opacity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--lgs-gutter-s);
}


#toolbars-opacity-reset {
    font-size: var(--lgs-font-size);
}

#toolbars-opacity wa-slider {
    width: 40%;
}

/*******************************************************************************
 * Compass settings
 *******************************************************************************/

.compass-settings wa-select {
    width: 100%;
}

.compass-settings .compass-select-thumbnail {
    display: inline-flex;
    align-items: center;
}

.compass-settings .compass-select-thumbnail svg {
    flex: 0 0 auto;
}
